{{!log 'action-partial' this}}
<div class="actions-form foldable">
    <button type="button" class="action-button action-add" data-tooltip="{{localize 'CO.ui.add'}}" tabindex="-1">
        <i class="fas fa-add"></i>&nbsp;{{localize "CO.ui.add"}}
    </button>
    <div class="actions">
        <nav class="action-tabs tabs" data-group="actions">
            {{#each system.actions as |action idx|}}
                <a class="item" data-tab="{{idx}}" data-tooltip="{{action.label}}"><img class="action-icon-small" src="{{action.img}}" data-tooltip="{{action.label}}" /></a>
            {{/each}}
        </nav>
        {{#if system.actions}}
            <section class="action-body">
                {{#each system.actions as |action idx|}}
                    {{log 'action-partial action' this}}
                    <div class="tab action item" data-group="actions" data-tab="{{idx}}" data-item-id="{{idx }}" data-item-type="action">
                        <input type="hidden" name="system.actions.{{idx}}.source" value="{{action.source}}" data-dtype="String">
                        <input type="hidden" name="system.actions.{{idx}}.indice" value="{{idx}}" data-dtype="Number">
                        <div class="form-group">
                            <label>{{localize "CO.ui.label"}}</label>
                            <div class="form-fields">
                                <input class="field-value" name="system.actions.{{idx}}.label" type="text" value="{{action.label}}" placeholder="{{localize 'CO.ui.label'}}" data-dtype="String">
                                <button type="button" class="action-button action-delete" data-tooltip="{{localize 'CO.ui.remove'}}" tabindex="-1">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>{{localize "CO.ui.chatFlavor"}}</label>
                            <div class="form-fields">
                                <input class="field-value" name="system.actions.{{idx}}.chatFlavor" type="text" value="{{action.chatFlavor}}" placeholder="{{localize 'CO.ui.label'}}" data-dtype="String">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>{{localize "CO.ui.type"}}</label>
                            <div class="form-fields">
                                <select name="system.actions.{{idx}}.type" data-type="String" style="width:100%">  
                                    {{selectOptions @root.choiceActionTypes selected=action.type localize=true}}                               
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>{{localize "CO.ui.img"}}</label>
                            <div class="form-fields">
                                <input class="field-value" data-edit="img" name="system.actions.{{idx}}.img" type="text" value="{{action.img}}" placeholder="{{localize 'CO.ui.img'}}" data-dtype="String">
                                <button type="button" class="action-button file-picker" data-type="imagevideo" data-target="system.actions.{{idx}}.img" data-tooltip="Parcourir les fichiers" tabindex="-1">
                                    <i class="fas fa-file-import fa-fw"></i>
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>{{localize "CO.label.long.properties"}}</label>
                            <div class="form-fields">
                                {{#if @root.debugMode}}
                                    <label class="checkbox"> <input type="checkbox" name="system.actions.{{idx}}.properties.visible" {{checked action.properties.visible}}> {{localize "CO.properties.visible"}}</label>
                                    <label class="checkbox"> <input type="checkbox" name="system.actions.{{idx}}.properties.enabled" {{checked action.properties.enabled}}> {{localize "CO.properties.enabled"}}</label>
                                {{/if}}
                                <label class="checkbox"> <input type="checkbox" name="system.actions.{{idx}}.properties.activable" {{checked action.properties.activable}}> {{localize "CO.properties.activable"}}</label>
                                <label class="checkbox"> <input type="checkbox" name="system.actions.{{idx}}.properties.temporary" {{checked action.properties.temporary}}> {{localize "CO.properties.temporary"}}</label>
                                <label class="checkbox"> <input type="checkbox" name="system.actions.{{idx}}.properties.noManaCost" {{checked action.properties.noManaCost}}> {{localize "CO.properties.noManaCost"}}</label>
                            </div>
                        </div>
                        <br />
                        {{> "systems/co/templates/items/parts/actions/conditions-partial.hbs" action=action idx=idx}}
                        {{> "systems/co/templates/items/parts/actions/modifiers-partial.hbs" action=action idx=idx choiceModifierSubtypes=@root.choiceModifierSubtypes choiceModifierTargets=@root.choiceModifierTargets}}
                        {{> "systems/co/templates/items/parts/actions/resolvers-partial.hbs" action=action idx=idx}}
                    </div>
                {{/each}}
            </section>
        {{/if}}
    </div>
</div>