{{!log 'modifiers-partial' this}}
<h4 class="form-header modifiers flexrow">
    <a class="modifiers-toggle section-toggle flex1">{{localize "CO.ui.modifiers"}}</a>
    <a class="action-modifier-add flex0" data-tooltip="{{localize 'CO.ui.add'}}"><i class="fas fa-add"></i></a>
</h4>
<div class="modifiers-container foldable">
    {{#if action.modifiers}}
        <div class="flexrow strong">
            <div class="form-fields flex1 center">{{localize "CO.ui.type"}}</div>
            <div class="form-fields flex1 center">{{localize "CO.ui.target"}}</div>
            <div class="form-fields flex1 center">{{localize "CO.ui.value"}}</div>
            <div class="form-fields flex0"></div>
        </div>
        {{#each action.modifiers as |m id|}}
            {{!log 'modifier' m id}}
            <div class="modifier flexrow" data-item-id="{{id}}" data-action-id="{{../idx}}" data-item-type="modifier">
                <input name="system.actions.{{../idx}}.modifiers.{{id}}.type" type="hidden" value="{{m.type}}" data-dtype="String" />
                <input name="system.actions.{{../idx}}.modifiers.{{id}}.source" type="hidden" value="{{m.source}}" data-dtype="String" />
                <div class="form-fields flex1">
                    <select name="system.actions.{{../idx}}.modifiers.{{id}}.subtype" data-type="String" style="width:100%">
                        {{selectOptions @root.choiceModifierSubtypes selected=m.subtype localize=true}}
                    </select>
                </div>
                <div class="form-fields flex1">
                    <select name="system.actions.{{../idx}}.modifiers.{{id}}.target" data-type="String" style="width:100%">
                        {{#if (eq m.subtype 'ability')}}
                            {{selectOptions @root.choiceModifierAbilityTargets selected=m.target localize=true}}
                        {{/if}}
                        {{#if (eq m.subtype 'combat')}}
                            {{selectOptions @root.choiceModifierCombatTargets selected=m.target localize=true}}
                        {{/if}}
                        {{#if (eq m.subtype 'attribute')}}
                            {{selectOptions @root.choiceModifierAttributeTargets selected=m.target localize=true}}
                        {{/if}}                        
                        {{#if (eq m.subtype 'resource')}}
                            {{selectOptions @root.choiceModifierResourceTargets selected=m.target localize=true}}
                        {{/if}}                        
                        {{#if (eq m.subtype 'skill')}}
                            {{selectOptions @root.choiceModifierSkillTargets selected=m.target localize=true}}
                        {{/if}}
                        {{#if (eq m.subtype 'state')}}
                            {{selectOptions @root.choiceModifierStateTargets selected=m.target localize=true}}
                        {{/if}}
                        {{#if (eq m.subtype 'bonusDice')}}
                            {{selectOptions @root.choiceModifierBonusDiceTargets selected=m.target localize=true}}
                        {{/if}}
                        {{#if (eq m.subtype 'malusDice')}}
                            {{selectOptions @root.choiceModifierMalusDiceTargets selected=m.target localize=true}}
                        {{/if}}        
                    </select>
                </div>
                <div class="form-fields flex1 center"><input name="system.actions.{{../idx}}.modifiers.{{id}}.value" type="text" value="{{m.value}}" data-dtype="String" /></div>
                <div class="form-fields flex0"><a class="action-modifier-delete"><i class="fas fa-trash"></i></a></div>
            </div>
        {{/each}}
    {{else}}
        <div class="flexrow">
            <span class="empty" style="padding:3px;">{{localize "CO.notif.modifiers.empty"}}</span>
        </div>
    {{/if}}
</div>