<h4 class="form-header resolvers flexrow">
    <a class="resolvers-toggle section-toggle flex1">{{localize "CO.ui.resolvers"}}</a>
    <a class="resolver-add flex0" data-tooltip="{{localize 'CO.ui.add'}}"><i class="fas fa-add"></i></a>
</h4>
<div class="resolvers-container foldable">
    {{#if action.resolvers}}
        <div class="flexrow strong">
            <!--<div class="form-fields flex2 center">{{localize "CO.ui.type"}}</div>-->
            
        </div>
        {{#each action.resolvers as |r id|}}
            {{log 'action.resolver' r}}
            <div class="flexrow resolver" data-item-id="{{id}}" data-action-id="{{../idx}}" data-item-type="resolver">
                <div class="form-fields flex2">
                    <div class="form-group">
                        <label>{{localize "CO.ui.type"}}</label>
                        <select name="system.actions.{{../idx}}.resolvers.{{id}}.type" data-type="String" style="width:100%">
                            {{selectOptions @root.choiceResolverTypes selected=r.type localize=true}}
                        </select>   
                        <div class="form-fields flex0"><a class="resolver-delete"><i class="fas fa-trash"></i></a></div>    
                    </div>             
                </div>    
            </div>            
            {{#if (or (eq r.type @root.choiceResolverTypes.melee.id) (eq r.type @root.choiceResolverTypes.ranged.id) (eq r.type @root.choiceResolverTypes.magical.id))}}
                <div class="flexrow strong">
                    <div class="form-fields flex1 center" data-tooltip="{{localize 'CO.ui.formulaTooltip'}}" data-tooltip-direction="UP">{{localize "CO.ui.skillformula"}}</div>
                    <div class="form-fields flex1 center" data-tooltip="{{localize 'CO.ui.critTooltip'}}" data-tooltip-direction="UP">{{localize "CO.ui.crit"}}</div>
                    <div class="form-fields flex1 center" data-tooltip="{{localize 'CO.ui.formulaTooltip'}}" data-tooltip-direction="UP">{{localize "CO.ui.difficulty"}}</div>
                    <div class="form-fields flex1 center" >{{localize "CO.ui.dmg"}}</div>
                </div>      
                <div class="flexrow"> 
                    <div class="form-fields flex1 center"><input name="system.actions.{{../idx}}.resolvers.{{id}}.skill.formula" type="text" value="{{r.skill.formula}}" data-dtype="String"  /></div>                
                    <div class="form-fields flex1 center"><input name="system.actions.{{../idx}}.resolvers.{{id}}.skill.crit" type="text" value="{{r.skill.crit}}" data-dtype="String"  /></div>
                    <div class="form-fields flex1 center"><input name="system.actions.{{../idx}}.resolvers.{{id}}.skill.difficulty" type="text" value="{{r.skill.difficulty}}" data-dtype="String"  /></div>
                    <div class="form-fields flex1 center"><input name="system.actions.{{../idx}}.resolvers.{{id}}.dmg.formula" type="text" value="{{r.dmg.formula}}" data-dtype="String" /></div>
                </div>
            {{/if}}
            {{#if (eq r.type @root.choiceResolverTypes.auto.id)}}
                <div class="flexrow strong">
                    <div class="form-fields flex1 center" data-tooltip="{{localize 'CO.ui.formulaTooltip'}}" data-tooltip-direction="UP">{{localize "CO.ui.difficulty"}}</div>
                    <div class="form-fields flex1 center" >{{localize "CO.ui.dmg"}}</div>
                </div>      
                <div class="flexrow"> 
                    <div class="form-fields flex1 center"><input name="system.actions.{{../idx}}.resolvers.{{id}}.skill.difficulty" type="text" value="{{r.skill.difficulty}}" data-dtype="String"  /></div>
                    <div class="form-fields flex1 center"><input name="system.actions.{{../idx}}.resolvers.{{id}}.dmg.formula" type="text" value="{{r.dmg.formula}}" data-dtype="String" /></div>
                </div>
            {{/if}}            
            {{#if (eq r.type @root.choiceResolverTypes.heal.id)}}
                <div class="flexrow strong">
                    <div class="form-fields flex1 center" data-tooltip="{{localize "CO.ui.formulaTooltip"}}">{{localize "CO.ui.healformula"}}</div>
                    <div></div>
                    <div class="form-fields flex1 center">{{localize "CO.ui.target"}}</div>
                    {{#if (eq r.target.type "multiple")}}
                        <div class="form-fields flex1 center">{{localize "CO.resolver.target.number"}}</div>
                    {{/if}}
                    {{#if (or (eq r.target.type "single") (eq r.target.type "multiple"))}}
                        <div class="form-fields flex1 center">{{localize "CO.resolver.scope.title"}}</div>
                    {{/if}}
                </div>
                <div class="flexrow"> 
                    <div class="form-fields flex1 center"><input name="system.actions.{{../idx}}.resolvers.{{id}}.skill.formula" type="text" value="{{r.skill.formula}}" data-dtype="String" /></div>
                    <div></div>
                    <div class="form-fields flex1 center">                    
                        <select name="system.actions.{{../idx}}.resolvers.{{id}}.target.type" data-type="String" style="width:100%">
                            {{selectOptions @root.choiceResolverTargets selected=r.target.type localize=true}}
                        </select>
                    </div>
                    {{#if (eq r.target.type "multiple")}}
                        <div class="form-fields flex1 center"><input name="system.actions.{{../idx}}.resolvers.{{id}}.target.number" type="text" value="{{r.target.number}}" data-dtype="String"/></div>
                    {{/if}}
                    {{#if (or (eq r.target.type "single") (eq r.target.type "multiple"))}}
                        <select name="system.actions.{{../idx}}.resolvers.{{id}}.target.scope" data-type="String" style="width:100%">
                            {{selectOptions @root.choiceResolverScopes selected=r.target.scope localize=true}}
                        </select>
                    {{/if}}
                </div>
            {{/if}}

        {{/each}}
    {{else}}
        <div class="flexrow">
            <span class="empty" style="padding:3px;">{{localize "CO.notif.resolvers.empty"}}</span>
        </div>
    {{/if}}
</div>