<h4 class="form-header resolvers flexrow">
    <a class="resolvers-toggle section-toggle flex1">{{localize "CO.ui.resolvers"}}</a>
    <a class="resolver-add flex0" data-tooltip="{{localize 'CO.ui.add'}}"><i class="fas fa-add"></i></a>
</h4>
<div class="resolvers-container foldable">
    {{#if action.resolvers}}
        <div class="flexrow strong">
            <div class="form-fields flex2 center">{{localize "CO.ui.type"}}</div>
            <div class="form-fields flex1 center">{{localize "CO.ui.skillformula"}}</div>
            <div class="form-fields flex1 center">{{localize "CO.ui.crit"}}</div>
            <div class="form-fields flex1 center">{{localize "CO.ui.difficulty"}}</div>
            <div class="form-fields flex1 center">{{localize "CO.ui.dmg"}}</div>
        </div>
        {{#each action.resolvers as |r id|}}
            <div class="flexrow resolver" data-item-id="{{id}}" data-action-id="{{../idx}}" data-item-type="resolver">
                <div class="form-fields flex2">
                    <select name="system.actions.{{../idx}}.resolvers.{{id}}.type" data-type="String" style="width:100%">
                        {{selectOptions @root.choiceResolverTypes selected=r.type localize=true}}
                    </select>                    
                </div>
                <div class="form-fields flex1"><input name="system.actions.{{../idx}}.resolvers.{{id}}.skill.formula.0.part" type="text" value="{{r.skill.formula.0.part}}" data-dtype="String" /></div>
                <div class="form-fields flex1 center"><input name="system.actions.{{../idx}}.resolvers.{{id}}.skill.crit" type="text" value="{{r.skill.crit}}" data-dtype="Number" /></div>
                <div class="form-fields flex1"><input name="system.actions.{{../idx}}.resolvers.{{id}}.skill.difficulty" type="text" value="{{r.skill.difficulty}}" data-dtype="String" /></div>
                <div class="form-fields flex1 center"><input name="system.actions.{{../idx}}.resolvers.{{id}}.dmg.formula.0.part" type="text" value="{{r.dmg.formula.0.part}}" data-dtype="String" /></div>
                <div class="form-fields flex0"><a class="resolver-delete"><i class="fas fa-trash"></i></a></div>
            </div>
        {{/each}}
    {{else}}
        <div class="flexrow">
            <span class="empty" style="padding:3px;">{{localize "CO.notif.resolvers.empty"}}</span>
        </div>
    {{/if}}
</div>