{{!log 'resolvers-partial' this}}

<h4 class="form-header resolvers flexrow">
    <a class="resolvers-toggle section-toggle flex1">{{localize "CO.ui.resolvers"}}</a>
    <a class="resolver-add flex0" data-tooltip="{{localize 'CO.ui.add'}}"><i class="fas fa-add"></i></a>
</h4>
<div class="resolvers-container foldable">
    {{#if action.resolvers}}
        {{#each action.resolvers as |r id|}}
            <div class="flexrow resolver" data-item-id="{{id}}" data-action-id="{{../idx}}" data-item-type="resolver">
                <div class="form-fields flex2">
                    <div class="form-group">
                        <label>{{localize "CO.ui.type"}}</label>
                        <select name="system.actions.{{../idx}}.resolvers.{{id}}.type" data-type="String" style="width:50%;margin-right:10px">
                            {{selectOptions @root.choiceResolverTypes selected=r.type localize=true}}
                        </select>   
                        <label class="checkbox"><input type="checkbox" name="system.actions.{{../idx}}.resolvers.{{id}}.bonusDiceAdd" {{checked r.bonusDiceAdd}}> {{localize "CO.modifier.subtype.bonusDice"}}</label>
                        <label class="checkbox"><input type="checkbox" name="system.actions.{{../idx}}.resolvers.{{id}}.malusDiceAdd" {{checked r.malusDiceAdd}}> {{localize "CO.modifier.subtype.malusDice"}}</label>
                        <div class="form-fields flex0"><a class="resolver-delete"><i class="fas fa-trash"></i></a></div>    
                    </div>             
                </div>    
            </div>            
            {{#if (eq r.type @root.choiceResolverTypes.attack.id) }}
                <div class="flexrow strong">
                    <div class="form-fields flex1 center" data-tooltip="{{localize 'CO.ui.formulaTooltip'}}" data-tooltip-direction="UP">{{localize "CO.ui.skillformula"}}</div>
                    <div class="form-fields flex1 center" data-tooltip="{{localize 'CO.ui.critTooltip'}}" data-tooltip-direction="UP">{{localize "CO.ui.crit"}}</div>
                    <div class="form-fields flex1 center" data-tooltip="{{localize 'CO.ui.formulaTooltip'}}" data-tooltip-direction="UP">{{localize "CO.ui.difficulty"}}</div>
                    <div class="form-fields flex1 center" >{{localize "CO.ui.dmg"}}</div>
                </div>      
                <div class="flexrow"> 
                    <div class="form-fields flex1 center"><input name="system.actions.{{../idx}}.resolvers.{{id}}.skill.formula" type="text" value="{{r.skill.formula}}" data-dtype="String"  /></div>                
                    <div class="form-fields flex1 center"><input name="system.actions.{{../idx}}.resolvers.{{id}}.skill.crit" type="text" value="{{r.skill.crit}}" data-dtype="String"  /></div>
                    <div class="form-fields flex1 center"><input name="system.actions.{{../idx}}.resolvers.{{id}}.skill.difficulty" type="text" value="{{r.skill.difficulty}}" data-dtype="String"  /></div>
                    <div class="form-fields flex1 center"><input name="system.actions.{{../idx}}.resolvers.{{id}}.dmg.formula" type="text" value="{{r.dmg.formula}}" data-dtype="String" /></div>
                </div>
            {{/if}}
            {{#if (eq r.type @root.choiceResolverTypes.auto.id)}}
                <div class="flexrow strong">
                    <div class="form-fields flex1 center" data-tooltip="{{localize 'CO.ui.formulaTooltip'}}" data-tooltip-direction="UP">{{localize "CO.ui.difficulty"}}</div>
                    <div class="form-fields flex1 center" >{{localize "CO.ui.dmg"}}</div>
                </div>      
                <div class="flexrow"> 
                    <div class="form-fields flex1 center"><input name="system.actions.{{../idx}}.resolvers.{{id}}.skill.difficulty" type="text" value="{{r.skill.difficulty}}" data-dtype="String"  /></div>
                    <div class="form-fields flex1 center"><input name="system.actions.{{../idx}}.resolvers.{{id}}.dmg.formula" type="text" value="{{r.dmg.formula}}" data-dtype="String" /></div>
                </div>
            {{/if}}            
            
                <div class="flexrow strong">
                    {{#if (eq r.type @root.choiceResolverTypes.heal.id)}}
                        <div class="form-fields flex1 center" data-tooltip="{{localize "CO.ui.formulaTooltip"}}">{{localize "CO.ui.healformula"}}</div>
                    {{/if}}
                    <div class="form-fields flex1 center">{{localize "CO.ui.target"}}</div>
                    {{#if (eq r.target.type "multiple")}}
                        <div class="form-fields flex1 center">{{localize "CO.resolver.target.number"}}</div>
                    {{/if}}
                    {{#if (or (eq r.target.type "single") (eq r.target.type "multiple"))}}
                        <div class="form-fields flex1 center">{{localize "CO.resolver.scope.title"}}</div>
                    {{/if}}
                </div>
                <div class="flexrow"> 
                    {{#if (eq r.type @root.choiceResolverTypes.heal.id)}}
                    <div class="form-fields flex1 center"><input name="system.actions.{{../idx}}.resolvers.{{id}}.skill.formula" type="text" value="{{r.skill.formula}}" data-dtype="String" /></div>
                    {{/if}}
                    <div class="form-fields flex1 center">                    
                        <select name="system.actions.{{../idx}}.resolvers.{{id}}.target.type" data-type="String" style="width:100%">
                            {{selectOptions @root.choiceResolverTargets selected=r.target.type localize=true}}
                        </select>
                    </div>
                    {{#if (eq r.target.type "multiple")}}
                        <div class="form-fields flex1 center"><input name="system.actions.{{../idx}}.resolvers.{{id}}.target.number" type="text" value="{{r.target.number}}" data-dtype="String"/></div>
                    {{/if}}
                    {{#if (or (eq r.target.type "single") (eq r.target.type "multiple"))}}
                        <select name="system.actions.{{../idx}}.resolvers.{{id}}.target.scope" data-type="String" style="width:100%">
                            {{selectOptions @root.choiceResolverScopes selected=r.target.scope localize=true}}
                        </select>
                    {{/if}}
                </div>
           
             <div class="form-fields flex2">
                    <div class="form-group">
                <label class="checkbox"><input type="checkbox" name="system.actions.{{../idx}}.resolvers.{{id}}.additionalEffect.active" {{checked r.additionalEffect.active}}> {{localize "CO.resolver.additionalEffect.active"}}</label>
                {{#if r.additionalEffect.active}}
                    <label>{{localize "CO.resolver.additionalEffect.applyOn"}}</label>
                    <select name="system.actions.{{../idx}}.resolvers.{{id}}.additionalEffect.applyOn" data-type="String" style="width:50%;margin-right:10px">
                        {{selectOptions @root.choiceResolverApplyOn selected=r.additionalEffect.applyOn localize=true}}
                    </select>
                    {{#if (eq r.additionalEffect.applyOn 'successTreshold')}}
                        <input class="field-value" name="system.actions.{{../idx}}.resolvers.{{id}}.additionalEffect.successThreshold"  type="text" value="{{r.additionalEffect.successThreshold}}" data-dtype="String" />
                    {{/if}}
                {{/if}}
                </div>
            </div>
            {{#if r.additionalEffect.active}}
                <div class="flexrow strong">
                    <div class="form-fields flex1 center" >{{localize "CO.resolver.additionalEffect.formulaType"}}</div>
                    <div class="form-fields flex1 center" data-tooltip="{{localize 'CO.resolver.additionalEffect.applyFormulaTooltip'}}" data-tooltip-direction="UP">{{localize "CO.resolver.additionalEffect.applyFormula"}}</div>
                    <div class="form-fields flex1 center" data-tooltip="{{localize 'CO.resolver.additionalEffect.elementType'}}" data-tooltip-direction="UP">{{localize "CO.resolver.additionalEffect.elementType"}}</div>                    
                </div>
                <div class="flexrow">   
                    <select name="system.actions.{{../idx}}.resolvers.{{id}}.additionalEffect.formulaType" data-type="String" style="width:50%;margin-right:10px">
                            {{selectOptions @root.choiceResolverEffectFormulaTypes selected=r.additionalEffect.formulaType localize=true}}
                    </select>
                    <div class="form-fields flex1 center"><input name="system.actions.{{../idx}}.resolvers.{{id}}.additionalEffect.formula" type="text" value="{{r.additionalEffect.formula}}" data-dtype="String"  /></div>                
                    <select name="system.actions.{{../idx}}.resolvers.{{id}}.additionalEffect.elementType" data-type="String" style="width:50%;margin-right:10px">
                            {{selectOptions @root.choiceResolverEffectElementTypes selected=r.additionalEffect.elementType localize=true blank=""}}
                    </select>
                </div>
                <div class="flexrow">
                    <div class="form-fields flex1 center" data-tooltip="{{localize 'CO.resolver.additionalEffect.statusAvailable'}}" data-tooltip-direction="UP">{{localize "CO.resolver.additionalEffect.statusAvailable"}}</div>                    
                     <div class="flexrow tags">
		                {{formField @root.resolverSystemFields.additionalEffect.fields.statuses name=(concat "system.actions." ../idx ".resolvers." @index ".additionalEffect.statuses") value=r.additionalEffect.statuses localize=true }}  
                    </div>
                </div>
                <div class="flexrow">
                    <div class="form-group">
                        <label>{{localize "CO.ui.duration"}}</label>
                        <div class="form-fields">
                            <input class="field-value" name="system.actions.{{../idx}}.resolvers.{{id}}.additionalEffect.duration"  type="text" value="{{r.additionalEffect.duration}}" placeholder="{{localize 'CO.resolver.additionalEffect.duration'}}" data-dtype="String" />
                        </div>
                        <label>{{localize "CO.ui.unit"}}</label>
                        <select name="system.actions.{{../idx}}.resolvers.{{id}}.additionalEffect.unit" data-type="String" style="width:50%;margin-right:10px">
                            {{selectOptions @root.choiceResolverEffectDurationUnit selected=r.additionalEffect.unit localize=true}}
                        </select>
                    </div>
                </div>
            {{/if}}
        {{/each}}
    {{else}}
        <div class="flexrow">
            <span class="empty" style="padding:3px;">{{localize "CO.notif.resolvers.empty"}}</span>
        </div>
    {{/if}}
</div>