{{!log "Chroniques Oubliées | profile" this}}
<!--<h3 class="form-header"><a class="section-toggle">{{localize "CO.ui.details"}}</a></h3>-->
<div class="details-form foldable">
    {{#if debugMode}}
        <div class="form-group">
            <label>{{localize "CO.ui.id"}}</label>
            <div class="form-fields">
                <input class="field-value" name="data._id" readonly type="text" value="{{data._id}}" placeholder="{{localize 'CO.ui.id'}}" data-dtype="String">
            </div>
        </div>
        <div class="form-group">
            <label>{{localize "CO.ui.key"}}</label>
            <div class="form-fields">
                <input class="field-value" name="system.common.slug" type="text" value="{{item.system.common.slug}}" placeholder="{{ localize ' COF.ui.key' }}" data-dtype="String">
            </div>
        </div>
    {{/if}}
    <div class="form-group">
        <label>{{localize "CO.label.long.hd"}}</label>
        <div class="form-fields">
            <select name="system.hd" data-type="String" style="width:100%">
                {{#select system.hd}}
                    <option value="">{{localize "CO.ui.none"}}</option>
                    <option value="1d4">d4</option>
                    <option value="1d6">d6</option>
                    <option value="1d8">d8</option>
                    <option value="1d10">d10</option>
                    <option value="1d12">d12</option>
                    <option value="1d20">d20</option>
                {{/select}}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "CO.label.short.spellcasting"}}</label>
        <div class="form-fields">
            <select name="system.spellcasting" data-type="String" style="width:100%">
                {{#select system.spellcasting}}
                    {{#each @root.config.spellcasting.modifiers as |label idx|}}
                        <option value="{{idx}}">{{localize label}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "CO.label.short.mpFormula"}}</label>
        <div class="form-fields">
            <input class="field-value" name="system.mpFormula" type="text" value="{{system.mpFormula}}" placeholder="{{ localize ' CO.label.long.mpFormula' }}" data-dtype="String" />
        </div>
    </div>
    {{#if (isProfileFamilyEnabled)}}
        <div class="form-group">
            <label>{{localize "CO.label.long.family"}}</label>
            <div class="form-fields">
                <input class="field-value" name="system.family" type="text" value="{{system.family}}" placeholder="{{ localize ' CO.label.long.family' }}" data-dtype="String">
            </div>
        </div>
    {{/if}}
</div>

<h3 class="form-header"><a class="section-toggle">{{localize "CO.label.long.martialTrainings"}}</a></h3>
<div class="proficiencies-form foldable">
    <div class="form-group">
        <label>{{localize "CO.ui.weapons"}}</label>
        <div class="form-fields">
            {{#each martialTrainingsWeaponsList as |training key|}}
                <label><input type="checkbox" name="system.martialTrainingsWeapons.{{getKeyFromMartialTraining training}}" data-dtype="Boolean" {{checked (lookup ../system.martialTrainingsWeapons training.key)}} />{{getMartialTrainingLabel training}}</label>
            {{/each}}
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "CO.ui.armors"}}</label>
        <div class="form-fields">
            {{#each martialTrainingsArmorsList as |training key|}}
                <label><input type="checkbox" name="system.martialTrainingsArmors.{{getKeyFromMartialTraining training}}" data-dtype="Boolean" {{checked (lookup ../system.martialTrainingsArmors training.key)}} />{{getMartialTrainingLabel training}}</label>
            {{/each}}
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "CO.ui.shields"}}</label>
        <div class="form-fields">
            {{#each martialTrainingsShieldsList as |training key|}}
                <label><input type="checkbox" name="system.martialTrainingsShields.{{getKeyFromMartialTraining training}}" data-dtype="Boolean" {{checked (lookup ../system.martialTrainingsShields training.key)}} />{{getMartialTrainingLabel training}}</label>
            {{/each}}
        </div>
    </div>
</div>

<!-- PATHS -->
<h3 class="form-header"><a class="section-toggle">{{localize "CO.label.long.paths"}}</a></h3>
<div class="path-list list-3col foldable">
    {{#each paths as |path id|}}
        {{!log 'path' path id}}
        <div class="cell center">
            <img class="inline-img" src="{{path.img}}" title="{{path.name}}" />
        </div>
        <div class="cell left item" data-uuid="{{path.uuid}}" data-item-type="path">
            <div class="field-label ellipse"><a class="item-control item-edit" title="Edit Item">{{path.name}}</a></div>
        </div>
        <div class="cell right item item-controls" data-uuid="{{path.uuid}}" data-item-type="path">
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
    {{/each}}
</div>