{{!log "Chroniques Oubliées | character paths" this}}
<!--<h3 class="form-header"><a class="section-toggle">{{localize "CO.label.long.paths"}}</a></h3>-->
<!--<div class="path-list foldable">-->
    {{#each pathGroups as |pg id|}}
        {{!log 'pathGroup' pg id}}
        <ol class="paths items-container foldable"  data-tab="features">
            <li class="items-container-header flexrow">
                <h3 class="item-name flexrow">
<!--                    <div class="item-image" style="background-image: url('{{pg.path.img}}')"></div>-->
                    {{pg.path.name}} ({{pg.path.system.rank}})
                </h3>
                <div class="item-controls-2">
<!--                    <a class="item-control item-create" data-pack="profiles" data-open="0" title="{{!localize "CO.ui.add"}}"><i class="fas fa-plus"></i>&nbsp;{{!localize "CO.label.short.add"}}</a>-->
                </div>
            </li>
            <ol class="item-list">
                {{#each pg.items as |capacity id|}}
                    {{#if capacity.system.learned}}
                    <li class="item flexrow" data-item-id="{{capacity._id}}" data-item-type="capacity" draggable="false">
                        <div class="item-detail">{{add id 1}}</div>
                        <div class="item-name flexrow">
                            <div class="item-image" style="background-image: url('{{capacity.img}}')"></div>
                            <h4><a class="item-control item-edit">{{capacity.name}}</a></h4>
                        </div>
                        <div class="item-controls-2">
                            <a class="item-control capacity-learn" title="{{localize "CO.ui.unbuy"}}"><i class="fa-solid green fa-check" style="font-size:16px"></i></a>
                        </div>
                    </li>
                    {{else}}
                    <li class="item flexrow" data-item-id="{{capacity._id}}" data-item-type="capacity" draggable="false" style="opacity: 60%">
                        <div class="item-detail">{{add id 1}}</div>
                        <div class="item-name flexrow">
                            <div class="item-image" style="background-image: url('{{capacity.img}}')"></div>
                            <h4><a class="item-control item-edit" title="{{localize "CO.notif.unknownCapacity"}}">{{capacity.name}}</a></h4>
                        </div>
                        <div class="item-controls-2">
                            <a class="item-control capacity-learn" title="{{localize "CO.ui.buy"}}"><i class="fa-solid gray fa-check" style="font-size:16px"></i></a>
                        </div>
                    </li>
                    {{/if}}
                {{/each}}
            </ol>
        </ol>
    {{/each}}
<!--</div>-->

{{!log "Chroniques Oubliées | character capacities" this}}
{{!> "systems/co/templates/actors/parts/paths/character-capacities.hbs"}}
