<!--<h3 class="form-header"><a class="details-toggle">{{localize "CO.ui.details"}}</a></h3>-->
<div class="details-form">
    {{#if debugMode}}
        <div class="form-group">
            <label>{{localize "CO.ui.id"}}</label>
            <div class="form-fields">
                <input class="field-value" name="data._id" readonly type="text" value="{{data._id}}" placeholder="{{localize 'CO.ui.id'}}" data-dtype="String">
            </div>
        </div>
        <div class="form-group">
            <label>{{localize "CO.ui.key"}}</label>
            <div class="form-fields">
                <input class="field-value" name="system.slug" readonly type="text" value="{{item.system.slug}}" placeholder="{{ localize 'COF.ui.key' }}" data-dtype="String">
            </div>
        </div>
    {{/if}}
    <div class="form-group">
        <label>{{localize "CO.label.long.subtype"}}</label>
        <div class="form-fields">
            <select name="system.subtype" data-type="String" style="width:100%">
                {{selectOptions @root.choiceAttackType selected=system.subtype localize=true}}
            </select>
        </div>
    </div>
    {{#if system.properties.chargeable}}
        <div class="form-group">
            <label>{{localize "CO.ui.charges"}}</label>
            <div class="form-fields">
                <input class="field-value" name="system.charges.current" type="text" value="{{system.charges.current}}" placeholder="{{localize 'CO.ui.current'}}" data-dtype="Number">
                /
                <input class="field-value" name="system.charges.max" type="text" value="{{system.charges.max}}" placeholder="{{localize 'CO.ui.max'}}" data-dtype="Number">
            </div>
        </div>

    {{/if}}
</div>
{{!> "systems/co/templates/items/parts/actions/action-partial.hbs"}}