{{log "Chroniques Oubliées | feature" this}}
<!--<h3 class="form-header"><a class="section-toggle">{{localize "CO.ui.details"}}</a></h3>-->
<div class="details-form foldable">
    {{#if debugMode}}
        <div class="form-group">
            <label>{{localize "CO.ui.id"}}</label>
            <div class="form-fields">
                <input class="field-value" name="data._id" readonly type="text" value="{{data._id}}" placeholder="{{localize 'CO.ui.id'}}" data-dtype="String">
            </div>
        </div>
        <div class="form-group">
            <label>{{localize "CO.ui.key"}}</label>
            <div class="form-fields">
                <input class="field-value" name="system.slug" type="text" value="{{item.system.slug}}" placeholder="{{ localize ' COF.ui.key' }}" data-dtype="String">
            </div>
        </div>
    {{/if}}
    <div class="form-group">
        <label>{{localize "CO.label.long.subtype"}}</label>
        <div class="form-fields">
            <select name="system.subtype" data-type="String" style="width:100%">
                {{selectOptions choiceFeatureSubtypes selected=system.subtype localize=true}}
            </select>
        </div>
    </div>
</div>
<h3 class="form-header"><a class="section-toggle">{{localize "CO.label.long.modifiers"}}</a></h3>
<div class="modifiers-container foldable">
    {{#if modifiers}}
        <div class="flexrow">
            <!--            <div class="form-fields flex1">{{!localize "CO.label.long.source"}}</div>-->
            <!--            <div class="form-fields flex1">{{!localize "CO.ui.id"}}</div>-->
            <div class="form-fields flex1">{{localize "CO.ui.type"}}</div>
            <div class="form-fields flex1">{{localize "CO.ui.target"}}</div>
            <div class="form-fields flex1">{{localize "CO.ui.value"}}</div>
            <div class="form-fields flex0"></div>
        </div>
        {{#each modifiers as |m id|}}
            <div class="modifier flexrow" data-item-id="{{id}}" data-item-type="modifier">
                <input name="system.modifiers.{{id}}.type" type="hidden" value="{{m.type}}" data-dtype="String" />
                <input name="system.modifiers.{{id}}.source" type="hidden" value="{{m.source}}" data-dtype="String" />
                <div class="form-fields flex1">
                    <select name="system.modifiers.{{id}}.subtype" data-type="String" style="width:100%">
                        {{selectOptions @root.choiceModifierSubtypes selected=m.subtype localize=true}}
                    </select>
                </div>
                <div class="form-fields flex1">
                    <select name="system.modifiers.{{id}}.target" data-type="String" style="width:100%">
                        {{selectOptions @root.choiceModifierTargets selected=m.target localize=true}}
                    </select>
                </div>
                <div class="form-fields flex1"><input name="system.modifiers.{{id}}.value" type="text" value="{{m.value}}" data-dtype="String" /></div>
                <div class="form-fields flex0"><span class="modifier-delete"><i class="fas fa-trash"></i></span></div>
            </div>
        {{/each}}
    {{else}}
        <div class="flexrow">
            <span>Aucun modificateur.</span>
        </div>
    {{/if}}
    <div class="flexrow">
        <a class="modifier-add" title="{{localize 'CO.ui.add'}}"><i class="fas fa-add"></i></a>
    </div>
</div>

<!-- PATHS -->
<h3 class="form-header">
    <a class="section-toggle">{{localize "CO.label.long.paths"}}</a>
</h3>
<div class="path-list list-3col foldable">
    {{#each paths as |path id|}}
        {{!log 'path' path id}}
        <div class="cell center">
            <img class="inline-img" src="{{path.img}}" title="{{path.name}}" />
        </div>
        <div class="cell left item" data-uuid="{{path.uuid}}" data-item-type="path">
            <div class="field-label ellipse"><a class="item-control item-edit" title="Edit Item">{{path.name}}</a></div>
        </div>
        <div class="cell right item item-controls" data-uuid="{{path.uuid}}" data-item-type="path">
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
    {{/each}}
</div>

<!-- CAPACITIES -->
<h3 class="form-header"><a class="section-toggle">{{localize "CO.label.long.capacities"}}</a></h3>
<div class="capacity-list list-3col foldable">
    {{#each capacities as |capacity id|}}
        {{!log 'capacity' capacity id}}
        <div class="cell center">
            <img class="inline-img" src="{{capacity.img}}" title="{{capacity.name}}" />
        </div>
        <div class="cell left item" data-uuid="{{capacity.uuid}}" data-item-type="capacity">
            <div class="field-label ellipse"><a class="item-control item-edit" title="Edit Item">{{capacity.name}}</a></div>
        </div>
        <div class="cell right item item-controls" data-uuid="{{capacity.uuid}}" data-item-type="capacity" draggable="true" data-rank="{{add id 1}}">
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
    {{/each}}
</div>