<div class="modifiers-container">
   {{#if modifiers}}
       {{#each modifiers as |m id|}}
       {{ log config}}
       <div class="modifier-row flexrow" data-item-id="{{id}}" data-item-type="modifier">
           <div class="form-fields flex1">
               <select name="system.modifiers.{{id}}.type" data-type="String" style="width:100%">
                   {{#select m.type}}
                       {{#each config.MODIFIER_TYPE as |label idx|}}
                           <option value="{{label}}">{{localize label}}</option>
                       {{/each}}
                   {{/select}}
               </select>
{{!--               <input name="system.modifiers.{{id}}.type" type="text" value="{{m.type}}" data-dtype="String">--}}
           </div>
           <div class="form-fields flex1"><input name="system.modifiers.{{id}}.subtype" type="text" value="{{m.subtype}}" data-dtype="String"></div>
           <div class="form-fields flex1"><input name="system.modifiers.{{id}}.source" type="text" value="{{m.source}}" data-dtype="String"></div>
           <div class="form-fields flex1"><input name="system.modifiers.{{id}}.target" type="text" value="{{m.target}}" data-dtype="String"></div>
           <div class="form-fields flex1"><input name="system.modifiers.{{id}}.value" type="text" value="{{m.value}}" data-dtype="String"></div>
           <div class="form-fields flex0">
               <span class="mod-delete"><i class="fas fa-trash"></i></span>
           </div>
       </div>
       {{/each}}
   {{else}}
       <div class="modifier-row flexrow" data-item-id="0" data-item-type="modifier">
           <div class="form-fields flex1"><input name="system.modifiers.0.type" type="text" value="{{m.type}}" data-dtype="String"></div>
           <div class="form-fields flex1"><input name="system.modifiers.0.subtype" type="text" value="{{m.subtype}}" data-dtype="String"></div>
           <div class="form-fields flex1"><input name="system.modifiers.0.source" type="text" value="{{m.source}}" data-dtype="String"></div>
           <div class="form-fields flex1"><input name="system.modifiers.0.target" type="text" value="{{m.target}}" data-dtype="String"></div>
           <div class="form-fields flex1"><input name="system.modifiers.0.value" type="text" value="{{m.value}}" data-dtype="String"></div>
           <div class="form-fields flex0">
               <span class="mod-delete"><i class="fas fa-trash"></i></span>
           </div>
       </div>
   {{/if}}
    <div class="modifier-row flexrow">
        <div class="form-fields flex1">
            <span class="mod-add"><i class="fas fa-plus"></i></span>
        </div>
    </div>
</div>