{{!log 'modifier' m id}}
<input name="system.actions.{{idx}}.modifiers.{{id}}.type" type="hidden" value="{{m.type}}" data-dtype="String" />
<input name="system.actions.{{idx}}.modifiers.{{id}}.source" type="hidden" value="{{m.source}}" data-dtype="String" />

<div class="modifier" data-item-id="{{id}}" data-action-id="{{idx}}" data-item-type="modifier">
  <div class="form-group">
    <select name="system.actions.{{idx}}.modifiers.{{id}}.subtype" data-type="String" {{#if @root.locked}}disabled{{/if}}>
      {{selectOptions @root.choiceModifierSubtypes selected=m.subtype localize=true}}
    </select>
  </div>
  <div class="form-group">
    <select name="system.actions.{{idx}}.modifiers.{{id}}.target" data-type="String" {{#if @root.locked}}disabled{{/if}}>
      {{#if (eq m.subtype "ability")}}
        {{selectOptions @root.choiceModifierAbilityTargets selected=m.target localize=true}}
      {{/if}}
      {{#if (eq m.subtype "combat")}}
        {{selectOptions @root.choiceModifierCombatTargets selected=m.target localize=true}}
      {{/if}}
      {{#if (eq m.subtype "attribute")}}
        {{selectOptions @root.choiceModifierAttributeTargets selected=m.target localize=true}}
      {{/if}}
      {{#if (eq m.subtype "resource")}}
        {{selectOptions @root.choiceModifierResourceTargets selected=m.target localize=true}}
      {{/if}}
      {{#if (eq m.subtype "skill")}}
        {{selectOptions @root.choiceModifierSkillTargets selected=m.target localize=true}}
      {{/if}}
      {{#if (eq m.subtype "state")}}
        {{selectOptions @root.choiceModifierStateTargets selected=m.target localize=true}}
      {{/if}}
      {{#if (eq m.subtype "bonusDice")}}
        {{selectOptions @root.choiceModifierBonusDiceTargets selected=m.target localize=true}}
      {{/if}}
      {{#if (eq m.subtype "malusDice")}}
        {{selectOptions @root.choiceModifierMalusDiceTargets selected=m.target localize=true}}
      {{/if}}
    </select>
  </div>
  <div class="form-group">
    <input name="system.actions.{{idx}}.modifiers.{{id}}.value" type="text" value="{{m.value}}" data-dtype="String" {{#if @root.locked}}readonly{{/if}}/>
  </div>
  <div class="form-group">
    <label>{{localize "CO.ui.target"}}</label>
    <select name="system.actions.{{idx}}.modifiers.{{id}}.apply" data-type="String" {{#if @root.locked}}disabled{{/if}}>
      {{selectOptions @root.choiceModifierApplies selected=m.apply localize=true}}
    </select>
  </div>
  <div class="form-group">
    <input name="system.actions.{{idx}}.modifiers.{{id}}.additionalInfos" type="text" value="{{m.additionalInfos}}" data-dtype="String" placeholder={{localize "CO.ui.notes"}} {{#if @root.locked}}readonly{{/if}}/>
  </div>
  {{#if @root.unlocked}}
    <button type="button" data-action="deleteActionModifier">
      <i class="fas fa-trash"></i>
    </button>
  {{else}}
    <div class="emptyButton"></div>
  {{/if}}
</div>