{{!log "Chroniques Oubliées | profile" this}}
<h3 class="form-header"><a class="section-toggle">{{localize "CO.ui.details"}}</a></h3>
<div class="details-form foldable">
    {{#if debugMode}}
        <div class="form-group">
            <label>{{localize "CO.ui.id"}}</label>
            <div class="form-fields">
                <input class="field-value" name="data._id" readonly type="text" value="{{data._id}}" placeholder="{{localize 'CO.ui.id'}}" data-dtype="String">
            </div>
        </div>
        <div class="form-group">
            <label>{{localize "CO.ui.key"}}</label>
            <div class="form-fields">
                <input class="field-value" name="system.slug" readonly type="text" value="{{item.system.slug}}" placeholder="{{ localize 'COF.ui.key' }}" data-dtype="String">
            </div>
        </div>
    {{/if}}
    <div class="form-group">
        <label>{{localize "CO.label.long.family"}}</label>
        <div class="form-fields">
            <select name="system.family" data-type="String" style="width:100%">
                  {{selectOptions @root.choiceProfileFamily selected=system.family localize=true blank=""}}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "CO.ui.pvLevel"}}</label>
        <div class="form-fields">
            <input value="{{system.hp}}" class="center" disabled />
        </div>
    </div>    
    <div class="form-group">
        <label>{{localize "CO.ui.recovery"}}</label>
        <div class="form-fields">
            <input value="{{system.recoveryDice}}" class="center" disabled />
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "CO.ui.maxDefenseArmor"}}</label>
        <div class="form-fields">
            <input class="field-value" type="text" name="system.maxDefenseArmor" value="{{system.maxDefenseArmor}}" data-dtype="Number">
        </div>
    </div>  
    <div class="form-group">
        <label>{{localize "CO.ui.mainProfile"}}</label>
        <div class="form-fields">            
            <label><input type="checkbox" name="system.mainProfile" data-dtype="Boolean" {{checked system.mainProfile}} /></label>
        </div>
    </div> 
</div>

<!-- MODIFIERS -->
<h3 class="form-header"><a class="section-toggle">{{localize "CO.label.long.modifiers"}}</a></h3>
<div class="modifiers-container foldable">
  {{#if modifiers}}
    <div class="flexrow">
      <div class="form-fields flex1 center">{{localize "CO.ui.type"}}</div>
      <div class="form-fields flex1 center">{{localize "CO.ui.target"}}</div>
      <div class="form-fields flex1 center">{{localize "CO.ui.value"}}</div>
      <div class="form-fields flex0"></div>
    </div>
    {{#each modifiers as |m id|}}
      <div class="modifier flexrow" data-item-id="{{id}}" data-item-type="modifier">
        <input name="system.modifiers.{{id}}.type" type="hidden" value="{{m.type}}" data-dtype="String" />
        <input name="system.modifiers.{{id}}.source" type="hidden" value="{{m.source}}" data-dtype="String" />
        <div class="form-fields flex1">
          <select name="system.modifiers.{{id}}.subtype" data-type="String" style="width:100%">
            {{selectOptions @root.choiceModifierSubtypes selected=m.subtype localize=true}}
          </select>
        </div>
        <div class="form-fields flex1">
          <select name="system.modifiers.{{id}}.target" data-type="String" style="width:100%">
            {{selectOptions @root.choiceModifierTargets selected=m.target localize=true}}
          </select>
        </div>
        <div class="form-fields flex1 center"><input name="system.modifiers.{{id}}.value" type="text" value="{{m.value}}" data-dtype="String" /></div>
        <div class="form-fields flex0"><span class="modifier-delete"><i class="fas fa-trash"></i></span></div>
      </div>
    {{/each}}
  {{else}}
    <div class="flexrow">
      <span>Aucun modificateur</span>
    </div>
  {{/if}}
  <div class="flexrow">
    <button class="modifier-add center" data-tooltip="{{localize 'CO.ui.add'}}"><i class="fas fa-add"></i></button>
  </div>
</div>

<!-- MARTIAL TRAININGS -->
<h3 class="form-header"><a class="section-toggle">{{localize "CO.label.long.martialTrainings"}}</a></h3>
<div class="proficiencies-form foldable">
    {{#if unlocked}}        
    <div class="form-group">
        <label>{{localize "CO.ui.weapons"}}</label>
        <div class="grid grid-4col">
            {{#each martialTrainingsWeaponsList as |training key|}}
                <label><input type="checkbox" name="system.martialTrainingsWeapons.{{getKeyFromMartialTraining training}}" data-dtype="Boolean" {{checked (lookup ../system.martialTrainingsWeapons training.key)}} />{{getMartialTrainingLabel training}}</label>
            {{/each}}
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "CO.ui.armors"}}</label>
        <div class="grid grid-4col">
            {{#each martialTrainingsArmorsList as |training key|}}
                <label><input type="checkbox" name="system.martialTrainingsArmors.{{getKeyFromMartialTraining training}}" data-dtype="Boolean" {{checked (lookup ../system.martialTrainingsArmors training.key)}} />{{getMartialTrainingLabel training}}</label>
            {{/each}}
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "CO.ui.shields"}}</label>
        <div class="grid grid-4col">
            {{#each martialTrainingsShieldsList as |training key|}}
                <label><input type="checkbox" name="system.martialTrainingsShields.{{getKeyFromMartialTraining training}}" data-dtype="Boolean" {{checked (lookup ../system.martialTrainingsShields training.key)}} />{{getMartialTrainingLabel training}}</label>
            {{/each}}
        </div>
    </div>
    {{else}}
    <div class="form-group">
        <label>{{localize "CO.ui.weapons"}}</label>
        <div class="grid grid-4col">
            {{#each martialTrainingsWeapons as |training key|}}
                <label><input type="checkbox" disabled {{checked (lookup ../system.martialTrainingsWeapons training.key)}} />{{getMartialTrainingLabel training}}</label>
            {{/each}}
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "CO.ui.armors"}}</label>
        <div class="grid grid-4col">
            {{#each martialTrainingsArmors as |training key|}}
                <label><input type="checkbox" disabled name="system.martialTrainingsArmors.{{getKeyFromMartialTraining training}}" data-dtype="Boolean" {{checked (lookup ../system.martialTrainingsArmors training.key)}} />{{getMartialTrainingLabel training}}</label>
            {{/each}}
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "CO.ui.shields"}}</label>
        <div class="grid grid-4col">
            {{#each martialTrainingsShields as |training key|}}
                <label><input type="checkbox" disabled name="system.martialTrainingsShields.{{getKeyFromMartialTraining training}}" data-dtype="Boolean" {{checked (lookup ../system.martialTrainingsShields training.key)}} />{{getMartialTrainingLabel training}}</label>
            {{/each}}
        </div>
    </div>    
    {{/if}}
</div>

<!-- PATHS -->
<h3 class="form-header"><a class="section-toggle">{{localize "CO.label.long.paths"}}</a></h3>
<div class="path-list list-3col foldable">
    {{#each paths as |path id|}}
        {{!log 'path' path id}}
        <div class="cell center item" data-uuid="{{path.uuid}}" data-item-type="path">
            <a class="item-control item-edit"><img class="inline-img" src="{{path.img}}" data-tooltip="{{localize 'CO.label.long.edit'}}" /></a>
        </div>
        <div class="cell left">
            <div class="field-label ellipse">{{path.name}}</div>
        </div>
        <div class="cell right item item-controls" data-uuid="{{path.uuid}}" data-item-type="path">
            <a class="item-control item-delete" data-tooltip="{{localize 'CO.label.long.deleteItem'}}"><i class="fas fa-trash"></i></a>
        </div>
    {{/each}}
</div>