{{log "Chroniques Oubliées | profile" this}}
<!--<h3 class="form-header"><a class="section-toggle">{{localize "CO.ui.details"}}</a></h3>-->
<div class="details-form foldable">
    {{#if debugMode}}
        <div class="form-group">
            <label>{{localize "CO.ui.id"}}</label>
            <div class="form-fields">
                <input class="field-value" name="data._id" readonly type="text" value="{{data._id}}" placeholder="{{localize 'CO.ui.id'}}" data-dtype="String">
            </div>
        </div>
        <div class="form-group">
            <label>{{localize "CO.ui.key"}}</label>
            <div class="form-fields">
                <input class="field-value" name="system.slug" type="text" value="{{item.system.slug}}" placeholder="{{ localize ' COF.ui.key' }}" data-dtype="String">
            </div>
        </div>
    {{/if}}
    <div class="form-group">
        <label>{{localize "CO.ui.pvLevel"}}</label>
        <div class="form-fields">
            <select name="system.pv" data-type="String" style="width:100%">
                {{selectOptions @root.choicePv selected=system.pv blank=""}}
            </select>
        </div>
    </div>    
    <div class="form-group">
        <label>{{localize "CO.ui.recovery"}}</label>
        <div class="form-fields">
            <select name="system.recovery" data-type="String" style="width:100%">
                {{selectOptions @root.choiceRecoveryDices selected=system.recovery blank=""}}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "CO.label.short.spellcasting"}}</label>
        <div class="form-fields">
            <select name="system.spellcasting" data-type="String" style="width:100%">
                  {{selectOptions @root.choiceAtmAbiity selected=system.spellcasting localize=true}}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "CO.label.long.family"}}</label>
        <div class="form-fields">
            <select name="system.family" data-type="String" style="width:100%">
                  {{selectOptions @root.choiceProfileFamily selected=system.family localize=true}}
            </select>
        </div>
    </div>
</div>

<h3 class="form-header"><a class="section-toggle">{{localize "CO.label.long.martialTrainings"}}</a></h3>
<div class="proficiencies-form foldable">
    <div class="form-group">
        <label>{{localize "CO.ui.weapons"}}</label>
        <div class="form-fields">
            {{#each martialTrainingsWeaponsList as |training key|}}
                <label><input type="checkbox" name="system.martialTrainingsWeapons.{{getKeyFromMartialTraining training}}" data-dtype="Boolean" {{checked (lookup ../system.martialTrainingsWeapons training.key)}} />{{getMartialTrainingLabel training}}</label>
            {{/each}}
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "CO.ui.armors"}}</label>
        <div class="form-fields">
            {{#each martialTrainingsArmorsList as |training key|}}
                <label><input type="checkbox" name="system.martialTrainingsArmors.{{getKeyFromMartialTraining training}}" data-dtype="Boolean" {{checked (lookup ../system.martialTrainingsArmors training.key)}} />{{getMartialTrainingLabel training}}</label>
            {{/each}}
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "CO.ui.shields"}}</label>
        <div class="form-fields">
            {{#each martialTrainingsShieldsList as |training key|}}
                <label><input type="checkbox" name="system.martialTrainingsShields.{{getKeyFromMartialTraining training}}" data-dtype="Boolean" {{checked (lookup ../system.martialTrainingsShields training.key)}} />{{getMartialTrainingLabel training}}</label>
            {{/each}}
        </div>
    </div>
</div>

<!-- PATHS -->
<h3 class="form-header"><a class="section-toggle">{{localize "CO.label.long.paths"}}</a></h3>
<div class="path-list list-3col foldable">
    {{#each paths as |path id|}}
        {{!log 'path' path id}}
        <div class="cell center">
            <img class="inline-img" src="{{path.img}}" title="{{path.name}}" />
        </div>
        <div class="cell left item" data-uuid="{{path.uuid}}" data-item-type="path">
            <div class="field-label ellipse"><a class="item-control item-edit" title="Edit Item">{{path.name}}</a></div>
        </div>
        <div class="cell right item item-controls" data-uuid="{{path.uuid}}" data-item-type="path">
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
    {{/each}}
</div>