{{log 'profil' this}}
<input class="field-value" name="system.slug" type="hidden" value="{{item.system.slug}}" placeholder="{{ localize "COF.ui.key" }}" data-dtype="String">
<div class="form-group">
    <label>{{localize "CO.label.long.hd"}}</label>
    <div class="form-fields">
        <select name="system.hd" data-type="String" style="width:100%">
            {{#select system.hd}}
                <option value="">{{localize "CO.ui.none"}}</option>
                <option value="1d4">d4</option>
                <option value="1d6">d6</option>
                <option value="1d8">d8</option>
                <option value="1d10">d10</option>
                <option value="1d12">d12</option>
                <option value="1d20">d20</option>
            {{/select}}
        </select>
    </div>
</div>

<div class="form-group">
    <label>{{localize "CO.resources.mpFormula"}}</label>
    <div class="cell">
      <input class="field-value" name="system.mpFormula" type="string" value="{{system.mpFormula}}" data-dtype="String" />
    </div>
</div>

{{#if (isProfileFamilyEnabled)}}
    <div>
        <label>Famille : </label><input name="system.family" type="String" value="{{system.family}}" data-dtype="String">
    </div>
{{/if}}

<h2>Formations martiales (armes)</h2>
<div class="form-group">
    {{#each martialTrainingsWeaponsList as |training key|}}
        {{log 'training ' training key}}
        <label><input type="checkbox" name="system.martialTrainingsWeapons.{{getKeyFromMartialTraining training}}" data-dtype="Boolean" {{checked (lookup ../system.martialTrainingsWeapons training.key)}}/>{{getMartialTrainingLabel training}}</label>        
    {{/each}}   
</div>

<h2>Formations martiales (armures)</h2>
<div class="form-group">
    {{#each martialTrainingsArmorsList as |training key|}}
        {{log 'training ' training key}}
        <label><input type="checkbox" name="system.martialTrainingsArmors.{{getKeyFromMartialTraining training}}" data-dtype="Boolean" {{checked (lookup ../system.martialTrainingsArmors training.key)}}/>{{getMartialTrainingLabel training}}</label>        
    {{/each}}   
</div>

<h2>Formations martiales (boucliers)</h2>
<div class="form-group">
    {{#each martialTrainingsShieldsList as |training key|}}
        {{log 'training ' training key}}
        <label><input type="checkbox" name="system.martialTrainingsArmors.{{getKeyFromMartialTraining training}}" data-dtype="Boolean" {{checked (lookup ../system.martialTrainingsShields training.key)}}/>{{getMartialTrainingLabel training}}</label>        
    {{/each}}   
</div>