{{!log "Chroniques Oubliées | hbs | attack-roll-card" this}}
<div class="co chat-card roll-card attack-card" data-actor-id="{{speaker.actor}}">
  <header class="card-header flexcol">
    <div class="type-card"><label><i class="fa-solid fa-swords"></i>{{#if (eq type "attack")}} {{localize "CO.label.long.attack"}} {{/if}} {{#if (eq type "damage")}} {{localize "CO.label.long.damage"}} {{/if}}</label></div>
    <div class="action-name"><strong>{{flavor}}</strong></div>
    {{#if (eq type "attack")}}
      {{#if hasDice}}
        <label class="display-dice-type">{{localize "CO.label.long.diceType"}} : <strong class="display-dice-type">{{diceType}}</strong></label>
      {{/if}}
      {{#if hasTactical}}
        <label class="display-tactical">{{localize "CO.label.long.tactical"}} : <strong class="display-tactical">{{tactical}}</strong></label>
      {{/if}}
    {{/if}}    
  </header>

  <div class="card-content">   
    <section class="result">
      <div class="form-group total-result">
          <div class="dice-total"><label>{{localize "CO.ui.total"}}</label></div>
          <div>{{total}}</div>
      </div>
      {{#if isFailure}}
        {{#if hasLuckyPoints}}
          <div class="lucky-points">
              <a class="lp-button-attack">
              <img class="imgLucky" src="icons/magic/control/buff-luck-fortune-green.webp" data-tooltip="{{localize 'CO.dialogs.spendLuckyPoint'}}" />
              </a>
          </div>
        {{/if}}
      {{/if}}
      
      {{#if (eq type 'damage')}}
        <div class="damage-part">
            <div class="damage-buttons">
              <div class="temp-dm">
                  <label for="tempDm" class="temp-dm-checkbox">Temp.</label>
                  <input type="checkbox" id="tempDm" name="tempDm" class="temp-dm-checkbox" {{checked tempDamage}}>
              </div> 
              <div class="dr">
                    <label for="dr" class="dr-checkbox">{{localize "CO.ui.dr"}}</label>
                    <input type="checkbox" id="dr" name="dr" class="dr-checkbox" checked >
              </div> 
              <div>           
                  <a class="btn apply-dmg" data-apply="full" data-total="{{total}}" data-tempdamage={{tempDamage}}>
                      <i class="fas fa-user-minus" data-tooltip="{{localize 'CO.ui.applyDamage'}}" data-tooltip-direction="UP"></i>
                  </a>
              </div>
              <div>    
                  <a class="btn apply-dmg" data-apply="half" data-total="{{total}}" data-tempdamage={{tempDamage}}>
                      <i class="fas fa-user-shield" data-tooltip="{{localize 'CO.ui.applyHalfDamage'}}" data-tooltip-direction="UP"></i>
                  </a>
              </div>
              <div>    
                  <a class="btn apply-dmg" data-apply="double" data-total="{{total}}" data-tempdamage={{tempDamage}}>
                      <i class="fas fa-user-injured" data-tooltip="{{localize 'CO.ui.applyDoubleDamage'}}" data-tooltip-direction="UP"></i>
                  </a>
              </div>
              <div>    
                <a class="btn apply-dmg" data-apply="heal" data-total="{{total}}">
                    <i class="fas fa-user-plus" data-tooltip="{{localize 'CO.ui.applyHealing'}}" data-tooltip-direction="UP"></i>
                </a>
              </div>    
            </div>
        </div>
      {{/if}}
            
      {{#if showDifficulty}}
        {{#if (eq difficulty "")}}
        {{else}}
          <div class="vs"><label>VS</label></div>
          <div class="form-group diff-result">
            <div class="display-difficulty"><label>{{localize "CO.label.long.difficulty"}}</label></div>        
            {{#if oppositeRoll}}
              <button class="opposite-roll" data-opposite-value="{{difficulty}}" data-opposite-target="{{oppositeTarget}}">{{localize "CO.ui.oppositeRoll"}}</button>
            {{else}}
              <div><strong class="display-difficulty"></strong>{{difficulty}}</div>
            {{/if}}
          </div>
        {{/if}}      
      {{/if}}
    </section>
      
    {{#if (eq type "attack")}}
      <section class="result-sentence">
        {{#if showDifficulty}}
            {{#if isSuccess}}
              {{#if isCritical}}
                <span class="success critical"><i class="fas fa-check-double"></i>&nbsp;{{localize "CO.roll.critical"}}&nbsp;<i class="fas fa-check-double"></i></span>
              {{else}}
                <span class="success"><i class="fas fa-check"></i>&nbsp;{{localize "CO.roll.success"}}&nbsp;<i class="fas fa-check"></i></span>
              {{/if}}
            {{/if}}
            {{#if isFailure}}
              {{#if isFumble}}
                <span class="failure fumble"><i class="fas fa-skull-crossbones"></i>&nbsp;{{localize "CO.roll.fumble"}}&nbsp;<i class="fas fa-skull-crossbones"></i></span>
              {{else}}
                <span class="failure"><i class="fas fa-times"></i>&nbsp;{{localize "CO.roll.failure"}}&nbsp;<i class="fas fa-times"></i></span>
              {{/if}}
            {{/if}}
          {{else}}
            {{#if isCritical}}
              <span class="standard critical"><i class="fas fa-check-double"></i>&nbsp;{{localize "CO.roll.critical"}}&nbsp;<i class="fas fa-check-double"></i></span>
            {{/if}}
            {{#if isFumble}}
              <span class="failure fumble"><i class="fas fa-skull-crossbones"></i>&nbsp;{{localize "CO.roll.fumble"}}&nbsp;<i class="fas fa-skull-crossbones"></i></span>
            {{/if}}
          {{/if}}      
        {{/if}}   
      </section>
  </div>

  <footer class="card-footer">
    <div class="dice-roll" data-action="expandRoll">
      <div class="dice-result">
        <div class="dice-formula">{{localize "CO.ui.formula"}} : {{formula}}</div>
        {{{tooltip}}}
      </div>
    </div>
  </footer>

</div>