{{log "Chroniques Oubliées | hbs | attack-roll-card" this}}

<div class="co chat-card roll-card attack-card" data-actor-id="{{speaker.actor}}">
  <header class="card-header flexcol">
    <strong>{{flavor}}</strong>
    {{#if hasDice}}
      <label class="display-dice-type">{{localize "CO.label.long.diceType"}} : <strong class="display-dice-type">{{diceType}}</strong></label>
    {{/if}}
    {{#if hasTactical}}
      <label class="display-tactical">{{localize "CO.label.long.tactical"}} : <strong class="display-tactical">{{tactical}}</strong></label>
    {{/if}}
    {{#if showDifficulty}}
      <label class="display-difficulty">{{#if oppositeRoll}}<button class="opposite-roll" data-opposite-value="{{difficulty}}" data-opposite-target="{{oppositeTarget}}">{{localize "CO.ui.oppositeRoll"}}</button>{{else}}{{localize "CO.label.long.difficulty"}} : <strong class="display-difficulty"></strong>{{difficulty}}{{/if}}</strong>
      </label>
    {{/if}}
  </header>

  <div class="card-content">
    <p>{{ localize "CO.ui.formula"}} : {{formula}}</p>
    <h4 class="dice-total">{{localize "CO.ui.total"}} : {{total}}</h4>
    {{#if showDifficulty}}
      {{#if isSuccess}}
        {{#if isCritical}}
          <span class="success critical"><i class="fas fa-check-double"></i>&nbsp;{{localize "CO.roll.critical"}}.</span>
        {{else}}
          <span class="success"><i class="fas fa-check"></i>&nbsp;{{localize "CO.roll.success"}}</span>
        {{/if}}
      {{/if}}

      {{#if isFailure}}
        {{#if isFumble}}
          <span class="failure fumble"><i class="fas fa-skull-crossbones"></i>&nbsp;{{localize "CO.roll.fumble"}}.</span>
        {{else}}
          <span class="failure"><i class="fas fa-times"></i>&nbsp;{{localize "CO.roll.failure"}}.</span>
        {{/if}}
      {{/if}}
    {{else}}
      {{#if isCritical}}
        <span class="standard critical"><i class="fas fa-check-double"></i>&nbsp;{{localize "CO.roll.critical"}}.</span>
      {{/if}}
      {{#if isFumble}}
        <span class="failure fumble"><i class="fas fa-skull-crossbones"></i>&nbsp;{{localize "CO.roll.fumble"}}.</span>
      {{/if}}
    {{/if}}

    {{#if (eq type 'damage')}}
        <div class="damage-buttons">
            <div class="tempDm">
              <label for="tempDm" class="tempDm-checkbox">DM temp.</label>
              <input type="checkbox" id="tempDm" name="tempDm" class="tempDm-checkbox" {{checked tempDamage}}>
            </div> 
            <div class="dr">
              <label for="dr" class="dr-checkbox">{{localize "CO.ui.dr"}}</label>
              <input type="checkbox" id="dr" name="dr" class="dr-checkbox">
            </div>            
            <a class="btn apply-dmg" data-apply="full" data-total="{{total}}" data-tempdamage={{tempDamage}}>
                <i class="fas fa-user-minus" data-tooltip="{{localize 'CO.ui.applyDamage'}}" data-tooltip-direction="UP"></i>
            </a>
            <a class="btn apply-dmg" data-apply="half" data-total="{{total}}" data-tempdamage={{tempDamage}}>
                <i class="fas fa-user-shield" data-tooltip="{{localize 'CO.ui.applyHalfDamage'}}" data-tooltip-direction="UP"></i>
            </a>
            <a class="btn apply-dmg" data-apply="double" data-total="{{total}}" data-tempdamage={{tempDamage}}>
                <i class="fas fa-user-injured" data-tooltip="{{localize 'CO.ui.applyDoubleDamage'}}" data-tooltip-direction="UP"></i>
            </a>
            <a class="btn apply-dmg" data-apply="heal" data-total="{{total}}">
                <i class="fas fa-user-plus" data-tooltip="{{localize 'CO.ui.applyHealing'}}" data-tooltip-direction="UP"></i>
            </a>
        </div>
    {{/if}}
  </div>

  <footer class="card-footer">
    <div class="dice-result">
      {{{tooltip}}}
    </div>
  </footer>

</div>