{{log "Chroniques Oubliées | hbs | attack-card" this}}
<div class="co chat-card roll-card attack-card" data-actor-id="{{actorId}}">
  <header class="card-header flexcol">
    <div class="type-card"><label><i class="fa-solid fa-swords" data-tooltip="{{localize 'CO.label.long.attack'}}" data-tooltip-direction="LEFT"></i></label></div>
    <div class="action-name" data-tooltip="{{flavor}}" data-tooltip-direction="LEFT">{{flavor}}</div>
  </header>

  <div class="card-content">
    <section class="options">
      {{#if hasDice}}
        <strong class="display-dice-type"><i class="fa-solid fa-dice"></i> {{diceType}}&nbsp;&nbsp;</strong>
      {{/if}}
      {{#if hasTactical}}
        <strong class="display-tactical"><i class="fa-solid fa-sliders-up"></i> {{tactical}}</strong>
      {{/if}}
    </section>
    <section class="targets"></section>
    <section class="bloc-result">
      <section class="result">
        <div class="form-group total-result">
          <div data-tooltip="{{localize 'CO.ui.total'}}" data-tooltip-direction="UP">{{total}}</div>
        </div>
        {{#if canUseLuckyPoints}}
          <div class="lucky-points">
            <a class="lp-button-attack">
              <i class="fa-regular fa-clover" data-tooltip="{{localize 'CO.dialogs.spendLuckyPoint'}}" data-tooltip-direction="UP"></i>
            </a>
          </div>
        {{/if}}

        {{#if showDifficulty}}
          {{#if (eq difficulty "")}}{{else}}
            <div class="vs"><label>VS</label></div>
            <div class="form-group diff-result">
              {{#if oppositeRoll}}
                <i class="fa-solid fa-square-question"></i>
              {{else}}
                <div data-tooltip="{{localize 'CO.label.long.difficulty'}}" data-tooltip-direction="UP">{{difficulty}}</div>
              {{/if}}
            </div>
          {{/if}}
        {{/if}}
      </section>
      <section class="result-sentence">
        {{#if oppositeRoll}}
          <button class="opposite-roll" data-opposite-value="{{difficulty}}" data-opposite-target="{{oppositeTarget}}">{{localize "CO.ui.oppositeRoll"}}</button>
        {{else}}
          {{#if showDifficulty}}
            {{#if isFumble}}
              <div class="show-result failure fumble"><i class="fas fa-skull-crossbones"></i><br /><strong>{{localize "CO.roll.fumble"}}</strong></div>
            {{else}}
              {{#if isSuccess}}
                {{#if isCritical}}
                  <div class="show-result success critical"><i class="fas fa-check-double"></i><br /><strong>{{localize "CO.roll.critical"}}</strong></div>
                {{else}}
                  <div class="show-result success"><i class="fas fa-check"></i><br /><strong>{{localize "CO.roll.success"}}</strong></div>
                {{/if}}
              {{/if}}
              {{#if isFailure}}
                <div class="show-result failure"><i class="fas fa-times"></i><br /><strong>{{localize "CO.roll.failure"}}</strong></div>
              {{/if}}
            {{/if}}
          {{else}}
            {{#if isCritical}}
              <div class="show-result standard critical"><i class="fas fa-check-double"></i><br /><strong>{{localize "CO.roll.critical"}}</strong></div>
            {{/if}}
            {{#if isFumble}}
              <div class="show-result failure fumble"><i class="fas fa-skull-crossbones"></i><br /><strong>{{localize "CO.roll.fumble"}}</strong></div>
            {{/if}}
          {{/if}}
        {{/if}}
      </section>
    </section>
  </div>

  <footer class="card-footer">
    <div class="dice-roll" data-action="expandRoll">
      <div class="dice-result">
        <div class="dice-formula" data-tooltip="{{formulaAttackTooltip}}" data-tooltip-direction="UP">{{localize "CO.ui.formula"}} : {{formula}}</div>
        {{{tooltip}}}
      </div>
      {{#if showDifficulty}}
        {{#if opposeResult}}
          <div class="dice-result">
            <div class="dice-formula">{{localize "CO.ui.oppositeFormula"}} : {{opposeResult}}</div>
            {{{opposeTooltip}}}
          </div>
        {{/if}}
      {{/if}}
    </div>

  </footer>

</div>