{{!log "healing-card" this}}

<div class="chatroll" data-actor-id="{{actorId}}">
  <h2 class="heal"><i class="fas fa-first-aid"></i>&nbsp;{{title}}</h2>
  <div class="heal-formula">
    <p>{{localize "CO.ui.formula"}} : {{formula}}</p>
  </div>
  <section class="result">
    <div class="heal-result">
      <div class="dice-total"><label>{{localize "CO.ui.total"}}</label></div>
      <p>{{total}}</p>
    </div>

    <div class="flexrow heal-message">
      <div class="flex1 no-wrap">
        <h3><strong>{{label}}</strong></h3>
      </div>
    </div>
  </section>
  <span class="tooltiptext">{{{toolTip.string}}}</span>
</div>