{{!log "healing-card" this}}

<div class="chatroll" data-actor-id="{{actorId}}">
  <h2 class="heal"><i class="fas fa-first-aid"></i>&nbsp;{{title}}</h2>
  <div>
    <p>Formule : {{formula}}</p>
  </div>
  <div>
    <p>Résultat : {{total}}</p>
  </div>
  <div class="flexrow">
    <div class="flex1 no-wrap">
      <h3><strong>{{label}}</strong></h3>
    </div>
  </div>
  <span class="tooltiptext">{{{toolTip.string}}}</span>
</div>