{{!log 'item-card' this}}
<div class="item-card" data-actor-id="{{actorId}}" data-item-id="{{id}}" data-item-uuid="{{uuid}}">

  <div class="itemTitle">
    <img class="inline-img" src="{{img}}" data-tooltip="{{name}}" />
    <span>{{name}}</span>
  </div>

  <div>{{{description}}}</div>
  <div class="button-row">
    {{#each actions as |action|}}
      <button
        class="toggle-action"
        data-actor-id="{{@root.actorId}}"
        data-action="{{action.action}}"
        data-type="{{action.type}}"
        data-source="{{@root.uuid}}"
        data-indice="{{action.indice}}"
      >{{action.label}}</button>
    {{/each}}
  </div>
</div>