{{!log "skill-roll-card" this}}
<div class="co chat-card roll-card skill-card" data-actor-id="{{actor.id}}">
  <header class="card-header flexcol">
     <div class="typeCardSkill">
        <label><i class="fa-solid fa-dice-d6"></i>  {{flavor}}</label>
      </div>
      <!--<strong>{{localize "CO.dialogs.skillCheck"}}</strong>
      {{#if showDifficulty}}
        <label class="display-difficulty">{{localize "CO.label.long.difficulty"}} : <strong class="display-difficulty">{{difficulty}}</strong></label>
      {{/if}}-->
  </header>
   
  <div class="card-content">
    <p>{{localize "CO.ui.formula"}} : {{formula}}</p>

    <section class="result">
      <div class="form-group total-result">
        <div class="dice-total"><label>{{localize "CO.ui.total"}}</label></div>
        <div>{{total}}
        </div>
      </div>
      {{#if isFailure}}
      {{#if hasLuckyPoints}}
        <div class="luckyPoints">
          <!--<label>Utiliser un Point de Chance ?</label>-->
          <a class="lp-button-attack">
            <img class="imgLucky" src="icons/magic/control/buff-luck-fortune-green.webp" data-tooltip="{{localize 'CO.dialogs.spendLuckyPoint'}}" />
          </a>
        </div>
      {{/if}}
    {{/if}}
      {{#if showDifficulty}}

    {{#if (eq difficulty "")}}
    {{else}}
      <div class="vs"><label>VS</label></div>
      <div class="form-group diff-result">
        <div class="display-difficulty"><label>{{localize "CO.label.long.difficulty"}}</label></div>
        
        {{#if oppositeRoll}}
          <button class="opposite-roll" data-opposite-value="{{difficulty}}" data-opposite-target="{{oppositeTarget}}">{{localize "CO.ui.oppositeRoll"}}</button>
        {{else}}
        <!--<label class="difficultyChat"></label>-->
        <div><strong class="display-difficulty"></strong>{{difficulty}}</div>{{/if}}</strong>
          </label>
      </div>
      {{/if}}
      
        {{/if}}
    </section>

    <section class="result-sentence">
      <!--<h4 class="dice-total">{{localize "CO.ui.total"}} : {{total}}</h4>-->
      {{#if showDifficulty}}
        {{#if isSuccess}}
          {{#if isCritical}}
            <span class="success critical"><i class="fas fa-check-double"></i>&nbsp;{{localize "CO.roll.critical"}}&nbsp;<i class="fas fa-check-double"></i></span>
          {{else}}
            <span class="success"><i class="fas fa-check"></i>&nbsp;{{localize "CO.roll.success"}}&nbsp;<i class="fas fa-check"></i></span>
          {{/if}}
        {{/if}}

        {{#if isFailure}}
          {{#if isFumble}}
            <span class="failure fumble"><i class="fas fa-skull-crossbones"></i>&nbsp;{{localize "CO.roll.fumble"}}&nbsp;<i class="fas fa-skull-crossbones"></i></span>
          {{else}}
            <span class="failure"><i class="fas fa-times"></i>&nbsp;{{localize "CO.roll.failure"}}&nbsp;<i class="fas fa-times"></i></span>
          {{/if}}
        {{/if}}
      {{else}}
        {{#if isCritical}}
          <span class="standard critical"><i class="fas fa-check-double"></i>&nbsp;{{localize "CO.roll.critical"}}&nbsp;<i class="fas fa-check-double"></i></span>
        {{/if}}
        {{#if isFumble}}
          <span class="failure fumble"><i class="fas fa-skull-crossbones"></i>&nbsp;{{localize "CO.roll.fumble"}}&nbsp;<i class="fas fa-skull-crossbones"></i></span>
        {{/if}}
      {{/if}}
    </section>

    
  </div>

  <footer class="card-footer">
    <div class="dice-result">
      {{{tooltip}}}
    </div>
  </footer>

</div>