{{log "skill-roll-card" this}}
<div class="co chat-card roll-card skill-card" data-actor-id="{{actor.id}}">
  <header class="card-header flexcol">
    <strong>{{flavor}}</strong>
    {{#if showDifficulty}}
      <label class="display-difficulty">{{localize "CO.label.long.difficulty"}} : <strong class="display-difficulty">{{difficulty}}</strong></label>
    {{/if}}
  </header>

  <div class="card-content">
    <p>Formule : {{formula}}</p>
    <h4 class="dice-total">Total : {{total}}</h4>
    {{#if showDifficulty}}
      {{#if isSuccess}}
        {{#if isCritical}}
          <span class="success critical"><i class="fas fa-check-double"></i>&nbsp;{{localize "CO.roll.critical"}}.</span>
        {{else}}
          <span class="success"><i class="fas fa-check"></i>&nbsp;{{localize "CO.roll.success"}}</span>
        {{/if}}
      {{/if}}

      {{#if isFailure}}
        {{#if isFumble}}
          <span class="failure fumble"><i class="fas fa-skull-crossbones"></i>&nbsp;{{localize "CO.roll.fumble"}}.</span>
        {{else}}
          <span class="failure"><i class="fas fa-times"></i>&nbsp;{{localize "CO.roll.failure"}}.</span>
        {{/if}}
      {{/if}}
    {{else}}
      {{#if isCritical}}
        <span class="standard critical"><i class="fas fa-check-double"></i>&nbsp;{{localize "CO.roll.critical"}}.</span>
      {{/if}}
      {{#if isFumble}}
        <span class="failure fumble"><i class="fas fa-skull-crossbones"></i>&nbsp;{{localize "CO.roll.fumble"}}.</span>
      {{/if}}
    {{/if}}
  </div>

  <footer class="card-footer">
    <div class="dice-result">
        {{{tooltip}}}
    </div>
  </footer>

</div>