{{log 'skill-roll-card' this}}
<div class="chat-card" data-actor-id="{{actorId}}">    
    {{#if showDifficulty}}
        {{#if isSuccess}}
            {{#if isCritical}}
                <h2 class="success critical"><i class="fas fa-check-double"></i>&nbsp;{{localize "CO.roll.critical"}}...</h2>
            {{else}}
                <h2 class="success"><i class="fas fa-check"></i>&nbsp;{{localize "CO.roll.success"}}...</h2>
            {{/if}}
        {{/if}}

        {{#if isFailure}}
            {{#if isFumble}}
                <h2 class="failure fumble"><i class="fas fa-skull-crossbones"></i>&nbsp;{{localize "CO.roll.fumble"}}...</h2>
            {{else}}
                <h2 class="failure"><i class="fas fa-times"></i>&nbsp;{{localize "CO.roll.failure"}}...</h2>
            {{/if}}
        {{/if}}
        <strong>{{label}}</strong><br>
        <label class="display-difficulty">{{localize "CO.label.long.difficulty"}} : </label><strong class="display-difficulty">{{difficulty}}</strong>
    {{else}}
        {{#if isCritical}}
            <h2 class="standard critical"><i class="fas fa-check-double"></i>&nbsp;{{localize "CO.roll.critical"}}...</h2>
        {{else}}
            {{#if isFumble}}
                <h2 class="failure fumble"><i class="fas fa-skull-crossbones"></i>&nbsp;{{localize "CO.roll.fumble"}}...</h2>
            {{else}}
                <h2 class="standard"><i class="fas fa-dice-d20"></i>&nbsp;{{localize "CO.roll.skillcheck"}}</h2>
            {{/if}}
        {{/if}}
        <h3><strong>{{label}}</strong>
    {{/if}}
    <div>
        <p>Formule : {{formula}}</p>        
    </div>
        
    <div class="tooltip">
        <p>Résultat : {{total}}</p>
        <span class="tooltiptext">{{{tooltip}}}</span>
    </div>
    {{#if hasDescription}}
            <h4>
                <pre class="rollDescr-line">{{{description}}}</pre>
            </h4>
    {{/if}}
</div>