{{log "Chroniques Oubliées | dialog attack-roll" this}}
<div class="form-group">
    <label for="rollMode">{{localize 'CHAT.RollDefault'}}</label>
    <div class="form-fields">
        <select name="rollMode" id="rollMode">
            {{selectOptions rollModes selected=rollMode localize=true}}            
        </select>
    </div>
</div>
{{#if (eq type 'attack')}}
    <div class="form-group">
        <label for="dice">{{localize 'CO.ui.diceType'}}</label>
        <div class="form-fields">
            <div>
                <input type="radio" name="dice" id="diceMalus" value="malus" {{#if (eq dice "malus")}}checked{{/if}} />
                <label for="dice">{{localize 'CO.ui.rollMalus'}}</label>
            </div>
            <div>
                <input type="radio" name="dice" id="diceStandard" value="standard" {{#if (eq dice "standard")}}checked{{/if}}/>
                <label for="dice">{{localize 'CO.ui.rollStandard'}}</label>
            </div>
            <div>
                <input type="radio" name="dice" id="diceBonus" value="bonus" {{#if (eq dice "bonus")}}checked{{/if}}/>
                <label for="dice">{{localize 'CO.ui.rollBonus'}}</label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label data-tooltip="{{localize 'CO.tooltip.formulaAttack'}}">{{localize 'CO.label.long.formulaAttack'}}</label>
        <div class="form-fields">
            <input class="field-value" id="formulaAttack" name="formulaAttack" type="text" value="{{formulaAttack}}" data-dtype="String" data-tooltip="{{formulaAttackTooltip}}" {{#if auto}}readonly{{/if}} />
        </div>
    </div>     
    <div class="form-group">
        <label>{{localize 'CO.label.long.skillBonus'}}</label>
        <div class="form-fields">
            <input class="field-value" id="skillBonus" name="skillBonus" type="text" value="{{skillBonus}}" data-dtype="String"/>
        </div>
    </div> 
    <div class="form-group">
        <label>{{localize 'CO.label.long.skillMalus'}}</label>
        <div class="form-fields">
            <input class="field-value" id="skillMalus" name="skillMalus" type="text" value="{{skillMalus}}" data-dtype="String"/>
        </div>
    </div>
    {{#if showDifficulty}}
        <div class="form-group">
            <label>{{localize 'CO.label.long.difficulty'}}</label>
            <div class="form-fields">
                <input class="field-value" id="difficulty" name="difficulty" type="text" value="{{difficulty}}" data-dtype="String" data-tooltip="{{difficultyTooltip}}" {{#if auto}}readonly{{/if}}/>
            </div>
        </div>
    {{/if}}
    <div class="form-group">
        <label>{{localize 'CO.label.long.critrange'}}</label>
        <div class="form-fields">
            <input class="field-value" id="critical" name="critical" type="text" value="{{critical}}" data-dtype="String" {{#if auto}}readonly{{/if}}/>
        </div>
    </div>      
    {{#if useComboRolls}}
        <div class="form-group">
            <label data-tooltip="{{localize 'CO.tooltip.formulaDamage'}}">{{localize 'CO.label.long.formulaDamage'}}</label>
            <div class="form-fields">
                <input class="field-value" id="formulaDamage" name="formulaDamage" type="text" value="{{formulaDamage}}" data-dtype="String" data-tooltip="{{formulaDamageTooltip}}"/>
            </div>
        </div>
        <div class="form-group">
            <label>{{localize 'CO.label.long.damageBonus'}}</label>
            <div class="form-fields">
                <input class="field-value" id="damageBonus" name="damageBonus" type="text" value="{{damageBonus}}" data-dtype="String"/>
            </div>
        </div>      
        <div class="form-group">
            <label>{{localize 'CO.label.long.damageMalus'}}</label>
            <div class="form-fields">
                <input class="field-value" id="damageMalus" name="damageMalus" type="text" value="{{damageMalus}}" data-dtype="String"/>
            </div>
        </div>         
    {{/if}}     
    <hr/>
    <label class="targets-label">Les cibles de l'attaque</label>
    <div class="targets">
        {{#each targets as |target id|}}
            <div class="target">
                <img class="actor-image" src="{{token.document.texture.src}}" data-tooltip="{{target.name}}" height="50px" width="50px" data-id="{{actor.id}}" data-uuid="{{uuid}}"/>
            </div> 
        {{/each}}
    </div>
{{else}}
    <div class="form-group">
        <label>{{localize 'CO.label.long.formulaDamage'}}</label>
        <div class="form-fields">
            <input class="field-value" id="formulaDamage" name="formulaDamage" type="text" value="{{formulaDamage}}" data-dtype="String" data-tooltip="{{formulaDamageTooltip}}"/>
        </div>
    </div> 
    <div class="form-group">
        <label>{{localize 'CO.label.long.damageBonus'}}</label>
        <div class="form-fields">
            <input class="field-value" id="damageBonus" name="damageBonus" type="text" value="{{damageBonus}}" data-dtype="String"/>
        </div>
    </div>      
    <div class="form-group">
        <label>{{localize 'CO.label.long.damageMalus'}}</label>
        <div class="form-fields">
            <input class="field-value" id="damageMalus" name="damageMalus" type="text" value="{{damageMalus}}" data-dtype="String"/>
        </div>
    </div>     
{{/if}}
