{{log "Chroniques Oubliées | dialog attack-roll" this}}
{{#if (eq type 'attack')}}
    <div class="form-group">
        <label for="dice">{{localize 'CO.ui.diceType'}}</label>
        <div class="form-fields">
            <select class="flex1" name="dice" id="dice" data-type="String" {{#if auto}}disabled{{/if}}>
                <option value="1d20" {{#unless (and superior weakened)}}{{else}}selected{{/unless}}>1d20</option>
                <option value="2d20kh" {{#if superior}}selected{{/if}}>2d20 ({{localize 'CO.ui.kh'}})</option>
                <option value="2d20kl" {{#if weakened}}selected{{/if}}>2d20 ({{localize 'CO.ui.kl'}})</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label data-tooltip="{{localize 'CO.tooltip.formulaAttack'}}">{{localize 'CO.label.long.formulaAttack'}}</label>
        <div class="form-fields">
            <input class="field-value" id="formulaAttack" name="formulaAttack" type="text" value="{{formulaAttack}}" data-dtype="String" data-tooltip="{{skillFormula}}" {{#if auto}}readonly{{/if}} />
        </div>
    </div>
    {{#if useComboRolls}}
        <div class="form-group">
            <label data-tooltip="{{localize 'CO.tooltip.formulaDamage'}}">{{localize 'CO.label.long.formulaDamage'}}</label>
            <div class="form-fields">
                <input class="field-value" id="formulaDamage" name="formulaDamage" type="text" value="{{formulaDamage}}" data-dtype="String" data-tooltip="{{damageFormula}}"/>
            </div>
        </div>   
    {{/if}}     
    <div class="form-group">
        <label>{{localize 'CO.label.long.critrange'}}</label>
        <div class="form-fields">
            <input class="field-value" id="critrange" name="critrange" type="text" value="{{critical}}" data-dtype="String" {{#if auto}}readonly{{/if}}/>
        </div>
    </div>
    {{#if showDifficulty}}
        <div class="form-group">
            <label>{{localize 'CO.label.long.difficulty'}}</label>
            <div class="form-fields">
                <input class="field-value" id="difficulty" name="difficulty" type="text" value="{{difficulty}}" data-dtype="Number" {{#if auto}}readonly{{/if}}/>
            </div>
        </div>
    {{/if}}
{{else}}
    <div class="form-group">
        <label>{{localize 'CO.label.long.formulaDamage'}}</label>
        <div class="form-fields">
            <input class="field-value" id="formulaDamage" name="formulaDamage" type="text" value="{{formulaDamage}}" data-dtype="String" data-tooltip="{{damageFormula}}"/>
        </div>
    </div> 
{{/if}}
