<form autocomplete="off" onsubmit="event.preventDefault();">
    <div class="ability-rows">
        <header class="row">
            <div class="row-heading">
                <h3>{{localize "CO.ui.editYourAbilities"}}</h3>
            </div>
            <div class="abilities">
            {{#each actor.system.abilities as |ability id|}}
                <div class="row-column">
                    <h3>{{localize (concat "CO.abilities.short." id)}}</h3>
                </div>
            {{/each}}
            </div>
        </header>
        <section class="row" data-section="superior">
            <div class="row-heading">
                <div class="label">
                    <div class="title">{{localize "CO.label.long.superior"}}</div>
                </div>
            </div>
            <div class="abilities">
                {{#each actor.system.abilities as |ability id|}}
                    <div class="row-column" data-ability="{{id}}">
                        <button type="button" data-action="superior" data-ability="{{id}}" data-value="{{not ability.superior}}" class="tooltip superior-button superior {{#if ability.superior}}selected{{/if}}">{{localize "CO.label.long.superior"}}</button>
                    </div>
                {{/each}}
            </div>
        </section>
        <hr>
        <section class="row" data-section="base">
            <div class="row-heading">
                <div class="label">
                    <div class="title">{{localize "CO.label.long.base"}}</div>
                </div>
            </div>
            <div class="abilities">
                {{#each actor.system.abilities as |ability id|}}
                    <div class="row-column" data-ability="{{id}}">
                        {{!ability.base}}
                        <input class="ability-base" type="number" data-ability="{{id}}" data-value="base" name="actor.system.abilities.{{id}}.base" value="{{ability.base}}" data-dtype="Number" placeholder="0">

                    </div>
                {{/each}}
            </div>
        </section>
        <hr>
        <section class="row" data-section="traits">
            <div class="row-heading">
                <div class="label">
                    <div class="title">{{localize "CO.label.long.traits"}}&nbsp;&amp;&nbsp;{{localize "CO.label.long.effects"}}</div>
                </div>
            </div>
            <div class="abilities">
                {{#each actor.system.abilities as |ability id|}}
                    <div class="row-column" data-ability="{{id}}">
                        {{numberFormat ability.bonuses.effects decimals=0 sign=true}}
                    </div>
                {{/each}}
            </div>
        </section>
        <hr>
        <section class="row" data-section="bonus">
            <div class="row-heading">
                <div class="label">
                    <div class="title">{{localize "CO.label.long.bonus"}}</div>
                </div>
            </div>
            <div class="abilities">
                {{#each actor.system.abilities as |ability id|}}
                    <div class="row-column" data-ability="{{id}}">
                        <input class="ability-bonus" type="number" data-ability="{{id}}" data-value="bonus.sheet" name="actor.system.abilities.{{id}}.bonuses.sheet" value="{{ability.bonuses.sheet}}" data-dtype="Number" placeholder="0">
                    </div>
                {{/each}}
            </div>
        </section>
        <hr>
        <section class="row summary-row">
            <div class="row-heading">
                <aside class="hint-container">
                    <h3>Réinitialisation</h3>
                    <p>Cela recalculera vos scores de base.</p>
                    <label>
                        <button type="button" name="reset-ability-scores"/>
                        Relancer
                    </label>
                </aside>
            </div>
            <div class="abilities">
                {{#each actor.system.abilities as |ability id|}}
                    <div class="row-column">
                        <div class="value">{{ability.value}}</div>
                        <h4>{{localize (concat "CO.abilities.long." id)}}</h4>
                    </div>
                {{/each}}
            </div>
        </section>
    </div>
    <div class="row background-stripes">
        <div class="row-heading">
        </div>
        <div class="abilities">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</form>