{{!log "Edit Abilities" this}}
<h3 class="first-title">{{localize "CO.ui.editYourAbilities"}}</h3>

<label>
    <span class="title">{{localize "CO.label.long.superior"}}</span>
</label>
<label>
    <span class="title">{{localize "CO.label.long.base"}}</span>
</label>
<label>
    <span class="title">
        {{localize "CO.label.long.traits"}}&nbsp;&amp;&nbsp;{{localize "CO.label.long.effects"}}
    </span>
</label>
<label>
    <span class="title">{{localize "CO.label.long.bonus"}}</span>
</label>
<label>
    <span class="title total-bonus">{{localize "CO.ui.totalBonus"}}</span>
</label>

{{#each system.abilities as |ability id|}}
    <h3>{{localize (concat "CO.abilities.short." id)}}</h3>
    <h4>{{localize (concat "CO.abilities.long." id)}}</h4>
    <div class="cell" data-ability="{{id}}">
        <button type="button" data-action="toggleSuperior" data-ability="{{id}}" data-value="{{not ability.superior}}"
            class="tooltip superior-button superior {{#if ability.superior}}selected{{/if}}">
            {{localize "CO.label.long.superior"}}
        </button>
    </div>
    <div class="cell" data-ability="{{id}}">
        <input class="ability-base" type="number" data-ability="{{id}}" data-value="base"
            name="system.abilities.{{id}}.base" value="{{ability.base}}" data-dtype="Number" placeholder="0">
    </div>
    <div class="cell" data-ability="{{id}}">
        {{numberFormat ability.modifiers decimals=0 sign=true}}
    </div>
    <div class="cell" data-ability="{{id}}">
        <input class="ability-bonus" type="number" data-ability="{{id}}" data-value="bonus.sheet"
            name="system.abilities.{{id}}.bonuses.sheet" value="{{ability.bonuses.sheet}}" data-dtype="Number"
            placeholder="0">
    </div>
    <div class="cell" data-ability="{{id}}">
        <div class="value" data-tooltip="{{ability.tooltipValue}}">{{ability.value}}</div>
    </div>
    
{{/each}}
<aside class="hint-container">
    <h3>Réinitialisation</h3>
    <p>Cela recalculera vos scores de base.</p>
    <button type="button" name="reset-ability-scores" data-action="reset">
        Relancer
    </button>
</aside>
