<form class="{{cssClass}}" autocomplete="off">
    {{log "Chroniques Oubliées | skillcheck" this}}
    <header class="sheet-header"></header>
    <section class="sheet-body">
        <div class="row flexrow table-header red">
            <div class="flex1 center">
                <h3>{{localize 'CO.dialogs.skillCheck'}}</h3>
            </div>
        </div>
        <div class="flexrow" style="margin-bottom: 1px;">
            <div class="flex1 center bg-red">
                <label for="dice">{{localize 'CO.ui.diceType'}}</label>
            </div>
            <div class="flex1 center cell">
                <select class="flex1" name="dice" id="dice" data-type="String">
                    <option value="1d20" {{#unless (and superior weakened)}}{{else}}selected{{/unless}}>1d20</option>
                    <option value="1d12" {{#if weakened}}selected{{/if}}>1d12</option>
                    <option value="2d12kh">2d12 ({{localize 'CO.ui.kh'}})</option>
                    <option value="2d20kh" {{#if superior}}selected{{/if}}>2d20 ({{localize 'CO.ui.kh'}})</option>
                    <option value="2d12kl">2d12 ({{localize 'CO.ui.kl'}})</option>
                    <option value="2d20kl">2d20 ({{localize 'CO.ui.kl'}})</option>
                </select>
            </div>
        </div>
        <div class="row flexrow" style="margin-bottom: 1px;">
            <div class="flex1 center bg-red">
                <span class="field-label">{{localize 'CO.label.long.mod'}}</span>
            </div>
            <div class="flex1 center cell">
                <input class="field-value readonly" id="mod" name="mod" type="text" readonly="true" value="{{numberFormat mod decimals=0 sign=true}}" data-dtype="Number"/>
            </div>
        </div>
        <div class="row flexrow" style="margin-bottom: 1px;">
            <div class="flex1 center bg-red">
                <span class="field-label">{{localize 'CO.label.long.critrange'}}</span>
            </div>
            <div class="flex1 center cell">
                <input class="field-value" id="critrange" name="critrange" type="text" value="{{critrange}}" data-dtype="String"/>
            </div>
        </div>
        <div class="row flexrow" style="margin-bottom: 1px;">
            <div class="flex1 center bg-red">
                <span class="field-label">{{localize 'CO.label.long.bonus'}}</span>
            </div>
            <div class="flex1 center cell">
                <input class="field-value" id="bonus" name="bonus" type="text" value="{{numberFormat bonus decimals=0 sign=true}}" data-dtype="Number"/>
            </div>
        </div>
        <div class="row flexrow" style="margin-bottom: 1px;">
            <div class="flex1 center bg-red">
                <span class="field-label">{{localize 'CO.label.long.malus'}}</span>
            </div>
            <div class="flex1 center cell">
                <input class="field-value" id="malus" name="malus" type="text" value="{{numberFormat malus decimals=0 sign=true}}" data-dtype="Number"/>
            </div>
        </div>
        <hr/>
        <div class="row flexrow table-header red">
            <div class="flex1 center">
                <h3>Bonus divers</h3>
            </div>            
        </div>
      
        {{#each skillBonuses as |bonus id|}}
            <div class="row flexrow" style="margin-bottom: 1px;"></div>
                {{numberFormat bonus.value decimals=0 sign=true}} {{bonus.name}} {{{bonus.description}}}
            </div>
        {{/each}}
        
        {{#if showDifficulty}}
            <hr/>
            <!-- DIFFICULTY -->
            <div class="row flexrow" style="margin-bottom: 5px;">
                <div class="flex1 center bg-darkslate">
                    <span class="field-label">{{localize 'CO.label.long.difficulty'}}</span>
                </div>
                <div class="flex1 center cell">
                    <input class="field-value" id="difficulty" name="difficulty" type="text" value="{{difficulty}}" data-dtype="Number"/>
                </div>
            </div>
        {{/if}}
    </section>
</form>