{{!-- Character Inventory Tab Template --}}
{{!log "Chroniques Oubliées | Character inventory" this}}
<section class="tab standard-form inventory{{#if tabs.inventory.active}} active{{/if}}" data-group="primary" data-tab="inventory">

<!-- Currencies -->
<ol class="items-container" data-tab="inventory">
  <li class="items-container-header flexrow">
    <h4 class="item-name flexrow">
      <a data-action="toggleSection" data-toggle-type="currencies">{{localize "CO.ui.richness"}}</a>
    </h4>
  </li>
  <div class="flexrow currency-row foldable">
    {{#each system.wealth as |currency id|}}
      <div class="flexrow">
        <label>{{localize (concat 'CO.currency.' id)}} : </label>
        <input class="current center" type="number" name="system.wealth.{{id}}.value" value="{{currency.value}}" data-dtype="Number" placeholder="0" />
      </div>
    {{/each}}
  </div>
</ol>

{{#each inventory as |group|}}
  <ol class="items-container" data-tab="inventory" data-category="{{category}}">
    <li class="items-container-header flexrow">
      <h4 class="item-name flexrow">
        <a data-action="toggleSection" data-toggle-type="{{group.category}}">{{localize (concat "CO.ui." group.category "s")}} ({{group.nbItems}})</a>
      </h4>
      <div class="item-detail">{{localize "CO.ui.usage"}}</div>
      <div class="item-detail">{{localize "CO.label.short.quantity"}}</div>
        <div class="item-detail">{{localize "CO.ui.actions"}}</div>
        <div class="item-controls-2">
          {{#if @root/unlocked}}
            <a class="item-control" data-action="createItem" data-type="equipment" data-subtype="{{group.category}}" data-tooltip="{{localize 'CO.label.long.add'}}"><i class="fas fa-plus"></i></a>
          {{/if}}
        </div>
    </li>
    <ol class="item-list foldable {{ifThen group.expanded 'expanded' 'folded'}}">
      {{#each group.items as |item id|}}
        {{!log 'Character inventory item' item}}
        <li class="item flexrow draggable" data-item-uuid="{{item.uuid}}" data-item-id="{{item._id}}" data-item-type="{{item.type}}">
          <div class="item-name flexrow">
            <a class="item-img" data-action="editItem" style="background-image: url('{{item.img}}')"></a>
            <h4>{{item.name}}
                {{#if item.system.isWeapon}}{{{isTrainedWithWeapon @root.actor item._id}}}{{/if}}
                {{#if item.system.isArmor}}{{{isTrainedWithArmor @root.actor item._id}}}{{/if}}
                {{#if item.system.isShield}}{{{isTrainedWithShield @root.actor item._id}}}{{/if}}
              </h4>
          </div>
          <!-- Usage -->
          <div class="item-detail">
            <a class="item-control inventory-usage">
              {{#if system.usage.twoHand}}
                <i class="fas fa-hand-paper"></i><i class="fas fa-hand-paper"></i>
              {{else}}
                {{#if system.usage.oneHand}}
                  <i class="fas fa-hand-paper"></i>
                {{/if}}
              {{/if}}
            </a>
          </div>    
          <!-- Quantité -->      
          <div class="item-detail">
            <a class="item-control inventory-qty">
              <span data-action="increaseItem" data-item-id="{{item.id}}" data-tooltip="{{localize 'CO.ui.increaseQuantity'}}" data-tooltip-direction="UP">{{item.system.quantity.current}}</span>
              {{#if system.properties.stackable}}
                {{#if (gt item.system.quantity.max 0)}}
                  <span data-tooltip="{{localize 'CO.action.quantity' quantity=item.system.quantity.current maxQuantity=item.system.quantity.max}}">/ {{item.system.quantity.max}}</span>
                {{/if}}
              {{/if}}
              {{#if item.system.properties.reloadable}}
                {{#if (gt item.system.charges.max 0)}}
                  (<span data-action="increaseCharge" data-item-id="{{item.id}}" data-tooltip="{{localize 'CO.ui.increaseCharges'}}" data-tooltip-direction="UP">{{item.system.charges.current}}</span>/<span data-tooltip="{{localize 'CO.action.charge' charges=item.system.charges.current maxCharges=item.system.charges.max}}" data-tooltip-direction="UP">{{item.system.charges.max}}</span>)
                {{/if}}
              {{/if}}              
            </a>
          </div>
          <!-- Actions -->
          <div class="item-detail">
            {{#if item.system.properties.equipable}}
              {{#if item.system.equipped}}
                <a class="item-control" data-action="inventoryEquip" style="color: green;" data-tooltip="{{localize 'CO.action.unequip'}}"><i class="fa-solid fa-shield"></i></a>
              {{else}}
                <a class="item-control" data-action="inventoryEquip" style="color: grey;" data-tooltip="{{localize 'CO.action.equip'}}"><i class="fa-regular fa-shield"></i></a>
              {{/if}}
            {{/if}}
            {{#if item.system.properties.stackable}}
              {{#if item.system.hasQuantity}}
                <a class="item-control inventory-consume" data-item-id="{{item.id}}" data-action="decreaseItem" style="color: green;" data-tooltip="{{localize 'CO.ui.decrease'}}" data-tooltip-direction="UP"><i class="fas fa-drumstick-bite"></i></a>
              {{else}}
                <a class="item-control inventory-consume" style="color: grey;" data-tooltip="{{localize 'CO.action.noQuantity'}}"><i class="fas fa-drumstick-bite"></i></a>
              {{/if}}
            {{/if}}
            {{#if item.system.properties.reloadable}}
              {{#if item.system.hasCharges}}
                <a class="item-control inventory-consume" data-item-id="{{item.id}}" data-action="decreaseCharge" style="color: green;" data-tooltip="{{localize 'CO.ui.decrease'}}" data-tooltip-direction="UP"><i class="fa-solid fa-bullseye-arrow"></i></a>
              {{else}}
                <a class="item-control inventory-consume" style="color: grey;" data-tooltip="{{localize 'CO.action.noCharge'}}"><i class="fa-regular fa-bullseye-arrow"></i></a>
              {{/if}}
            {{/if}}
          </div>
          <!-- Boutons -->
          <div class="item-controls-2">
            <a class="chat" data-action="sendToChat" data-chat-type="item" data-tooltip="{{localize 'CO.label.long.sendToChat'}}"><i class="fas fa-fw fa-comment-alt"></i></a>
            {{#if @root/unlocked}}
              <a class="item-edit" data-action="editItem" data-tooltip="{{localize 'CO.label.long.edit'}}"><i class="fas fa-fw fa-edit"></i></a>
              <a class="item-control" data-action="deleteItem" data-tooltip="{{localize 'CO.ui.remove'}}"><i class="fas fa-trash"></i></a>
            {{/if}}
          </div>
        </li>
      {{/each}}
    </ol>
  </ol>
{{/each}}

</section>
