{{!log 'character-sheet' this}}
<form class="{{cssClass}} flexrow no-wrap" autocomplete="off">
    {{!log "Chroniques Oubliées | actor" this}}
    {{> "systems/co/templates/actors/parts/character-sidebar.hbs"}}
    <div class="main">
        <header class="character-sheet-header">
            <div class="name flexrow bottom-separator">
                <input class="name-value" name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'CO.label.long.name' }}" spellcheck="false">
                <label class="level-label">{{ localize 'CO.label.short.level' }}</label>
                {{#if unlocked}}
                    <input class="level adjustable" type="text" name="system.attributes.level.base" value="{{attributes.level.base}}" data-dtype="Number">
                {{else}}
                    <span class="level adjustable">{{attributes.level.max}}</span>
                {{/if}}                
            </div>
        </header>
        {{!-- Sheet Tab Navigation --}}
        <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item" data-tab="main" title="{{ localize "CO.tabs.main" }}">{{ localize "CO.tabs.main" }}</a>
            <a class="item" data-tab="inventory" title="{{ localize "CO.tabs.inventory" }}">{{ localize "CO.tabs.inventory" }}</a>
            <a class="item" data-tab="capacities" title="{{ localize "CO.tabs.capacities" }}">{{ localize "CO.tabs.capacities" }}</a>
            <a class="item" data-tab="effects" title="{{ localize "CO.tabs.effects" }}">{{ localize "CO.tabs.effects" }}</a>
            <a class="item" data-tab="bio" title="{{ localize "CO.tabs.bio" }}">{{ localize "CO.tabs.bio" }}</a>
            <a class="item sheet-change-lock" title="{{ localize "CO.tabs.lock" }}">{{#if unlocked}}<i class="fas fa-lock-open"></i>{{else}}<i class="fas fa-lock" ></i>{{/if}}</a>
        </nav>

<!--        <div class="content bg-red">-->
            {{! log "Chroniques Oubliées | detail" this}}
            <section class="sheet-body">
                <div class="tab main" data-group="primary" data-tab="main">
                    {{> "systems/co/templates/actors/parts/character-main.hbs"}}
                </div>
                <div class="tab inventory" data-group="primary" data-tab="inventory">
                    {{> "systems/co/templates/actors/parts/inventory/character-inventory.hbs"}}
                </div>
                <div class="tab capacities" data-group="primary" data-tab="capacities">
                    {{> "systems/co/templates/actors/parts/paths/character-paths.hbs"}}
                </div>
                <div class="tab effects" data-group="primary" data-tab="effects">
                    {{> "systems/co/templates/actors/parts/character-effects.hbs"}}
                </div>
                <div class="tab bio" data-group="primary" data-tab="bio">
                    {{> "systems/co/templates/actors/parts/character-bio.hbs"}}
                </div>
            </section>
<!--        </div>-->
    </div>
</form>
