 <div class="section-body-no-flex">
    <ol class="actions-container items-container">
        <ol class="item-list">
            {{#each visibleActivableActions as |action id|}}
                {{!log (concat "Chroniques Oubliées | action " id) action}}
                <li class="item flexrow draggable action {{#if action.properties.temporary}}{{#unless action.properties.enabled}}deactivated{{/unless}}{{/if}}" data-item-uuid="{{action.source}}" data-indice="{{action.indice}}">
                    <div class="item-name flexrow">
                        <a class="item-img" data-action="editItem" style="background-image: url('{{{actionImg}}}')" data-tooltip="{{action.parent.description}}"></a>
                        <div class="actionRow">
                            <!-- Action Type : celui de l'action si défini sinon celui de la capacité -->
                            <div class="actionColumn" data-tooltip="{{action.actionTypeLongLabel}}">{{action.actionTypeShortLabel}}</div>
                            <div class="actionColumn"><i class="{{action.iconFA}}" data-tooltip="{{action.iconTypeLabel}}"></i></div>
                            <div>
                                <h4>{{action.itemName}}
                                {{#if action.hasLabel}} - {{action.label}}{{/if}}
                                {{#if action.hasQuantity}}<span data-tooltip=" {{localize "CO.ui.remainingQuantity"}}" data-tooltip-direction="UP">({{action.quantity}})</span>{{/if}}
                                {{#if action.hasCharges}}<span data-tooltip=" {{localize "CO.ui.remainingQuantity"}}" data-tooltip-direction="UP">({{action.charges}})</span>{{/if}}
                                {{#if action.parent.isSpell}} - *({{action.manaCost}} PM{{#if (gt (manaCostFromArmor action.parent.parent @root.actor) 0)}} Malus armure : {{manaCostFromArmor action.parent.parent @root.actor}} {{/if}}){{/if}}                            
                                {{#each action.resolvers as |resolver|}}
                                    {{#if resolver.hasAdditionalEffect}}
                                        <i class="fa-solid fa-hourglass-half icon-effet" data-tooltip="{{localize "CO.label.long.customEffectInCombat"}}"></i>
                                    {{/if}}
                                {{/each}}
                                </h4>
                            </div>
                        </div>                                
                    </div>                        
                    <div class="item-controls-3">
                        {{#each action.getActionIcons as |icon|}}
                            <a class="item-control">
                                <i class="{{icon.icon}} {{icon.iconClass}}"    
                                data-action="toggleAction"                                         
                                data-action-type="{{icon.actionType}}" 
                                {{#if icon.type}}data-type="{{icon.type}}"{{/if}}
                                data-source="{{action.source}}"
                                data-indice="{{action.indice}}"
                                data-tooltip="{{localize icon.tooltip}}" 
                                data-tooltip-direction="UP">
                                </i>
                            </a>
                        {{/each}}
                        <a class="chat" data-action="sendToChat" data-chat-type="action" data-indice="{{action.indice}}" data-source="{{action.source}}" data-tooltip="{{localize 'CO.label.long.sendToChat'}}"><i class="fas fa-fw fa-comment-alt"></i></a>
                    </div>
                </li>
            {{/each}}
        </ol>
    </ol>
</div>