{{!-- Character Paths Tab Template --}}
{{!log "Chroniques Oubliées | shared paths" this}}
<section class="tab standard-form paths{{#if tabs.paths.active}} active{{/if}}" data-group="primary" data-tab="paths">

    {{#if (eq actor.type "character")}}
        {{#if (lt xpLeft 0)}}
            <div class="notification error permanent">
                {{localize "CO.notif.TooMuchSpentXP" xpSpent=xpSpent xpMax=xpMax xpLeft=xpLeft}}
            </div>
        {{else}}
            {{#if (gt xpLeft 0)}}
                <div class="notification info permanent">
                    {{localize "CO.notif.XPLeftToSpend" xpLeft=xpLeft xpMax=xpMax}}
                </div>
            {{/if}}
        {{/if}}
    {{/if}}

    <div class="{{#if (eq actor.type 'character')}}path-grid{{else}}path-encounter{{/if}}">
        {{#each pathGroups as |pg id|}}
            {{!log 'pathGroup' this}}
            {{#if (or @root.unlocked pg.path.system.displayPath)}}                
                <ol class="paths items-container" data-tab="features">
                    <li class="items-container-header flexrow">
                        <h4 class="item-name flexrow">
                            <a data-action="toggleSection" data-toggle-type="paths" data-slug="{{pg.path.system.slug}}">{{pg.path.name}} ({{pg.path.system.rank}})</a>
                        </h4>
                        <div class="item-controls-3 item" data-item-uuid="{{pg.path.uuid}}" data-item-id="{{pg.path.id}}" data-item-type="path">
                            {{#if ../unlocked}}
                                <a class="edit" data-action="editItem" data-tooltip="{{localize 'CO.label.long.edit'}}"><i class="fas fa-fw fa-edit"></i></a>
                                <a class="item-control" data-action="deleteItem" data-tooltip="{{localize 'CO.ui.remove'}}"><i class="fas fa-trash"></i></a>
                            {{/if}}
                        </div>
                    </li>
                    <ol class="item-list foldable {{#if pg.expanded}}expanded{{else}}folded{{/if}}">
                        {{#each pg.items as |capacity id|}}
                            {{!log 'capacity' this}}
                            {{#if capacity.system.learned}}
                                <li class="item flexrow" data-item-uuid="{{capacity.uuid}}" data-item-id="{{capacity._id}}" data-item-type="capacity" draggable="false">
                                    <div class="item-detail rank">{{capacity.system.rank}}</div>
                                    <div class="item-name flexrow">
                                        <a class="item-img" data-action="editItem" style="background-image: url('{{capacity.img}}')" data-tooltip="{{capacity.system.description}}"></a>
                                        <h4>{{capacity.name}}{{#if capacity.system.isSpell}} * {{/if}}</h4>
                                    </div>
                                    <div class="item-controls-3">
                                        <a class="chat" data-action="sendToChat" data-chat-type="item" data-tooltip="{{localize 'CO.label.long.sendToChat'}}"><i class="fas fa-fw fa-comment-alt"></i></a>
                                        {{#if @root.unlocked}}
                                            <a class="edit" data-action="editItem" data-tooltip="{{localize 'CO.label.long.edit'}}"><i class="fas fa-fw fa-edit"></i></a>
                                            <a class="item-control" data-action="unlearnCapacity" data-tooltip="{{localize 'CO.ui.unbuy'}}"><i class="fa-solid green fa-check"></i></a>
                                        {{/if}}
                                    </div>                            
                                </li>
                                {{#if capacity.system.allowLinkedCapacity}}
                                    <div class="dropzone">
                                        <ol class="item-list foldable" data-item-uuid="{{capacity.uuid}}" data-item-id="{{capacity.id}}" data-item-type="capacity" draggable="false">
                                            <li class="item flexrow" {{#if (isNotNull capacity.system.linkedCapacity)}} data-item-uuid="{{capacity.system.linkedCapacity}}" data-item-id="{{capacity.system.getLinkedCapacityItem.id}}" data-item-type="capacity" {{/if}}>
                                                {{#if (and (isNotNull capacity.system.linkedCapacity) (isNotNull capacity.system.getLinkedCapacityItem))}}
                                                    <div class="item-name flexrow">                                            
                                                            <a class="item-img" data-action="editItem" style="background-image: url('{{capacity.system.getLinkedCapacityImg}}')" data-tooltip="{{capacity.system.description}}"></a>
                                                            <h4>{{capacity.system.getLinkedCapacityName}}{{#if capacity.system.getLinkedCapacityItem.system.isSpell}} * {{/if}}{{#if capacity.system.getLinkedCapacityItem.system.hasActionType}} ({{capacity.system.getLinkedCapacityItem.system.actionTypeShort}}){{/if}}</h4>
                                                    </div>
                                                    <div class="item-controls-3">
                                                        <a class="chat" data-action="sendToChat" data-tooltip="{{localize 'CO.label.long.sendToChat'}}" data-chat-type="item"><i class="fas fa-fw fa-comment-alt"></i></a>
                                                        {{#if @root.unlocked}}
                                                            <a class="item-control" data-action="deleteItem" data-tooltip="{{localize 'CO.ui.remove'}}"><i class="fas fa-trash"></i></a>
                                                        {{/if}}
                                                    </div>
                                                {{else}}
                                                    <div class="item-name flexrow">                                            
                                                            <a class="item-img" data-action="editItem" style="background-image: url('{{capacity.system.getLinkedCapacityImg}}')" data-tooltip="{{capacity.system.description}}"></a>
                                                            <h4>{{localize 'CO.ui.addCapacityMsg'}}</h4>
                                                    </div>
                                                {{/if}}s
                                            </li>
                                        </ol>
                                    </div>
                                {{/if}}
                            {{else}}
                                {{#if @root.unlocked}}
                                    <li class="item flexrow" data-item-uuid="{{capacity.uuid}}" data-item-id="{{capacity._id}}" data-item-type="capacity" draggable="false" style="opacity: 40% ; font-style: Italic">
                                        <div class="item-detail rank">{{capacity.system.rank}}</div>
                                        <div class="item-name flexrow">
                                            <a class="item-img" data-action="editItem" style="background-image: url('{{capacity.img}}')" data-tooltip="{{capacity.system.description}}"></a>
                                            <h4 data-tooltip="{{localize 'CO.notif.unknownCapacity'}}">{{capacity.name}}{{#if capacity.system.isSpell}} * {{/if}}{{#if capacity.system.hasActionType}} ({{capacity.system.actionTypeShort}}){{/if}}</h4>
                                        </div>
                                        <div class="item-controls-2">
                                            <a class="edit" data-action="editItem" data-tooltip="{{localize 'CO.label.long.edit'}}"><i class="fas fa-fw fa-edit"></i></a>
                                            <a class="item-control" data-action="learnCapacity" data-tooltip="{{localize 'CO.ui.buy'}}"><i class="fa-solid gray fa-check"></i></a>
                                        </div>
                                    </li>
                                {{/if}}
                            {{/if}}
                        {{/each}}
                    </ol>
                </ol>
                
            {{/if}}
        {{/each}}

        <!-- Capacités hors voies -->
        {{> "systems/co/templates/actors/shared/capacities-nopath.hbs"}}
        {{#if isCharacter}}
            {{formGroup systemFields.otherCapacitiesPointsSpent value=system.otherCapacitiesPointsSpent disabled=locked}}
        {{/if}}
    </div>
</section>
