<form class="{{cssClass}} flexrow no-wrap" autocomplete="off">
    {{!log "Chroniques Oubliées | encounter" this}}
    {{> "systems/co/templates/encounter/parts/encounter-sidebar.hbs"}}
    <div class="main">
        <header class="npc-sheet-header">
            <div class="name flexrow bottom-separator">
                <input class="name-value" name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'CO.label.long.name' }}" spellcheck="false">
                <label class="level-label">{{ localize 'CO.label.short.nc' }}</label>
                <input class="level adjustable" type="text" name="system.attributes.nc" value="{{attributes.nc}}" data-dtype="Number" {{#if locked}}readonly{{/if}}>
            </div>
            <div class="flexrow" style="justify-content: space-between; width: 100%;">
                <div class="flexrow" style="flex: auto;">
                    
                    <select class="category-select traits-list-item" name="system.details.category" data-type="String" style="width:100%">
                        {{selectOptions choiceCategories selected=system.details.category localize=true}}
                    </select>
                    <select class="size-select traits-list-item" name="system.details.size" data-type="String" style="width:100%">
                        {{selectOptions choiceSizes selected=system.details.size localize=true }}
                    </select>
                   
                </div>
            </div>
        </header>

        {{!-- Sheet Tab Navigation --}}
        <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item" data-tab="main" data-tooltip="{{ localize 'CO.tabs.main' }}">{{ localize 'CO.tabs.main' }}</a>
            <a class="item" data-tab="loot" data-tooltip="{{ localize 'CO.tabs.loot' }}">{{ localize 'CO.tabs.loot' }}</a>
            <a class="item" data-tab="capacities" data-tooltip="{{ localize 'CO.tabs.capacities' }}">{{ localize "CO.tabs.capacities" }}</a>
            <a class="item" data-tab="effects" data-tooltip="{{ localize 'CO.tabs.effects' }}">{{ localize "CO.tabs.effects" }}</a>
            <a class="item" data-tab="notes" data-tooltip="{{ localize 'CO.tabs.notes' }}">{{ localize 'CO.tabs.notes' }}</a>
            {{#if unlocked}}
                <a class="item sheet-change-lock" data-tooltip="{{ localize 'CO.tabs.lock' }}"><i class="fas fa-lock-open"></i></a>
            {{else}}
                <a class="item sheet-change-lock" data-tooltip="{{ localize 'CO.tabs.unlock' }}"><i class="fas fa-lock"></i></a>
            {{/if}}
        </nav>

        <section class="sheet-body">
            <div class="tab main" data-group="primary" data-tab="main">
                {{> "systems/co/templates/encounter/parts/encounter-main.hbs"}}
            </div>
            <div class="tab loot" data-group="primary" data-tab="loot">
                {{> "systems/co/templates/encounter/parts/encounter-loot.hbs"}}
            </div>
            <div class="tab capacities" data-group="primary" data-tab="capacities">
                {{> "systems/co/templates/actors/parts/paths/character-paths.hbs"}}
            </div>
            <div class="tab effects" data-group="primary" data-tab="effects">
                {{> "systems/co/templates/actors/parts/character-effects.hbs"}}
            </div>            
            <div class="tab notes" data-group="primary" data-tab="notes">
                {{> "systems/co/templates/encounter/parts/encounter-notes.hbs"}}
            </div>
        </section>
    </div>
</form>