<form class="{{cssClass}} flexrow" autocomplete="off">
    {{log "Chroniques Oubliées | item" item.type this}}
    {{> "systems/co/templates/items/parts/item-sidebar.hbs"}}
    <div class="main flexcol">
        <div class="header flexrow">
            <div class="details flex1">
                <div class="item-name flexrow">
                    <div class="flex1">
                        <h1><input class="sans" name="name" type="text" value="{{item.name}}" placeholder="Item Name" data-dtype="String"/></h1>
                    </div>
                </div>
                <div class="item-type flexrow">
                    <div class="flex1">
                        <h3>{{localize (concat "CO.itemTypes." item.type )}}</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav">
            {{!-- Sheet Tab Navigation --}}
            <nav class="sheet-tabs tabs" data-group="primary">
                <a class="item" data-tab="description" title="{{ localize "CO.tabs.description" }}"><i class="fas fa-book-user"></i></a>
                <a class="item" data-tab="details" title="{{ localize "CO.tabs.details" }}"><i class="fas fa-gear"></i></a>
            </nav>
        </div>
        <div class="content flexrow">
            {{! log "Chroniques Oubliées | detail" this}}
            <section class="sheet-body">
                <div class="tab description active" data-group="primary" data-tab="description">
                    {{editor enrichedDescription target="system.description.value" button=true owner=owner editable=editable}}
                </div>
                <div class="tab details" data-group="primary" data-tab="details">
                    {{> (buildItemTemplatePath "systems/co/templates/items/parts/" item.type)}}
                </div>
            </section>
        </div>
    </div>
</form>