<form class="{{cssClass}} flexrow" autocomplete="off">
    {{!log (concat "Chroniques Oubliées | item " item.id) this}}
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" data-tooltip="{{item.name}}" />
        <div class="details">
            <div class="name flex1">
                <input class="flex1" name="name" type="text" value="{{item.name}}" placeholder="{{localize 'CO.ui.itemName'}}" spellcheck="false" data-dtype="String">
            </div>
            <div class="flexrow" style="justify-content: space-between; width: 100%;">
                
                <div class="adjustment-select flexrow" style="flex: auto; justify-content: flex-end;">
                    <span class="adjustment elite trait">{{localize (concat "CO.itemTypes." item.type )}}</span>
                </div>
            </div>
            {{#if (eq document.type "equipment")}}
                <div class="flexrow tags">
                    {{formGroup systemFields.tags value=system.tags localize=true }}  
                </div>
            {{/if}}
        </div>
    </header>
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description" data-tooltip="{{ localize 'CO.tabs.description' }}">{{ localize "CO.tabs.description" }}</a>
        <a class="item" data-tab="details" data-tooltip="{{ localize 'CO.tabs.details' }}">{{ localize "CO.tabs.details" }}</a>
        {{#if (isActionable item.type)}}
            <a class="item" data-tab="actions" data-tooltip="{{ localize 'CO.tabs.actions' }}">{{ localize "CO.tabs.actions" }} / {{ localize "CO.tabs.effects" }}</a>
        {{/if}}
         {{#if unlocked}}
                <a class="item sheet-change-lock" data-tooltip="{{ localize 'CO.tabs.lock' }}"><i class="fas fa-lock-open"></i></a>
        {{else}}
                <a class="item sheet-change-lock" data-tooltip="{{ localize 'CO.tabs.unlock' }}"><i class="fas fa-lock"></i></a>
        {{/if}}
    </nav>
    {{! log "Chroniques Oubliées | detail" this}}
    <section class="sheet-body">
        <div class="tab description active" data-group="primary" data-tab="description"> 
            <div class="form-group">
                <label>{{localize 'CO.ui.origin'}}</label>
                <div class="form-fields">
                    <input class="field-value" name="system.origin" {{#if locked}}readonly{{/if}} type="text" value="{{system.origin}}" placeholder="{{localize 'CO.ui.originDescription'}}" spellcheck="false" data-dtype="String" />
                </div> 
            </div>          
            {{editor enrichedDescription target="system.description" button=true owner=owner editable=editable}}           
        </div>
        <div class="tab details" data-group="primary" data-tab="details">
            {{> (buildItemTemplatePath "systems/co/templates/items/parts/" item.type)}}
        </div>
        {{#if (isActionable item.type)}}
            <div class="tab actions" data-group="primary" data-tab="actions">
                {{> "systems/co/templates/items/parts/actions/action-partial.hbs"}}
            </div>
        {{/if}}
    </section>
</form>