{{log "Chroniques Oubliées | profile" this}}
<section class="tab standard-form profile{{#if tabs.details.active}} active{{/if}}" data-group="primary" data-tab="details">

    <section class="halfPanel">
        <section class="panelLeft">

            {{#if debugMode}}
            <fieldset class="debug">
                    <legend>{{localize "CO.ui.debug"}}</legend>
                    {{formGroup fields._id value=item.id disabled=true localize=true label="CO.ui.id"}}
                    {{formGroup systemFields.slug value=system.slug disabled=true localize=true}}
            </fieldset>
            {{/if}}

            <fieldSet class="infoInitial">
                <legend>{{localize "CO.ui.initialInformations"}}</legend>
                <div class="form-group">
                    <label>{{localize "CO.label.long.family"}}</label>
                    <div class="form-fields">
                        <select name="system.family" data-type="String">
                            {{selectOptions @root.choiceProfileFamily selected=system.family localize=true blank=""}}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label>{{localize "CO.ui.pvLevel"}}</label>
                    <div class="form-fields">
                        <input value="{{system.hp}}" class="center" disabled />
                    </div>
                </div>  
                <div class="form-group">
                    <label>{{localize "CO.ui.recovery"}}</label>
                    <div class="form-fields">
                        <input value="{{system.recoveryDice}}" class="center" disabled />
                    </div>
                </div>
                {{formGroup systemFields.maxDefenseArmor value=system.maxDefenseArmor localize=true disabled=isPlayMode}}
                {{formGroup systemFields.mainProfile value=system.mainProfile localize=true disabled=isPlayMode}}
            </fieldSet>    
        </section>
    
        <section class="panelRight">
            <!-- PATHS -->
            <h4 class="form-header">
                <a data-action="toggleSection">{{localize "CO.label.long.paths"}}</a>
            </h4>
            <div class="path-list list-3col foldable">
                {{#each paths as |path id|}}
                    {{!log 'path' path id}}
                    <div class="cell center item" data-uuid="{{path.uuid}}" data-item-type="path">
                        <a class="item-control item-edit"><img class="inline-img" src="{{path.img}}" data-tooltip="{{localize 'CO.label.long.edit'}}" /></a>
                    </div>
                    <div class="cell left">
                        <div class="field-label ellipse">{{path.name}}</div>
                    </div>
                    <div class="cell right item item-controls" data-uuid="{{path.uuid}}" data-item-type="path">
                        <button type="button" class="item-control" data-action="deleteItem" data-tooltip="{{localize 'CO.label.long.deleteItem'}}"><i class="fas fa-trash"></i></button>
                    </div>
                {{/each}}
            </div>    
        </section>
    </section>

    <!-- MODIFIERS -->
    <h4 class="form-header">
        <a data-action="toggleSection">{{localize "CO.label.long.modifiers"}}</a>
        <a data-action="addModifier" data-tooltip="{{localize 'CO.ui.add'}}"><i class="fas fa-add"></i></a>
    </h4>
    <div class="modifiers-container foldable">
        {{#if modifiers}}
            <div class="form-group-stacked like-grid">
                <label>
                    <span>{{localize "CO.ui.type"}}</span>
                    <span>{{localize "CO.ui.target"}}</span>
                    <span>{{localize "CO.ui.value"}}</span>
                    <span>&nbsp;</span>
                </label>
            {{#each modifiers as |m id|}}
                <input name="system.modifiers.{{id}}.type" type="hidden" value="{{m.type}}" data-dtype="String" />
                <input name="system.modifiers.{{id}}.source" type="hidden" value="{{m.source}}" data-dtype="String" />
                <div class="form-fields modifier" data-item-id="{{id}}" data-item-type="modifier">
                    <select name="system.modifiers.{{id}}.subtype" data-type="String">
                        {{selectOptions @root.choiceModifierSubtypes selected=m.subtype localize=true}}
                    </select>
                    <select name="system.modifiers.{{id}}.target" data-type="String">
                        {{#if (eq m.subtype 'ability')}}
                            {{selectOptions @root.choiceModifierAbilityTargets selected=m.target localize=true}}
                        {{/if}}
                        {{#if (eq m.subtype 'combat')}}
                            {{selectOptions @root.choiceModifierCombatTargets selected=m.target localize=true}}
                        {{/if}}
                        {{#if (eq m.subtype 'attribute')}}
                            {{selectOptions @root.choiceModifierAttributeTargets selected=m.target localize=true}}
                        {{/if}}                        
                        {{#if (eq m.subtype 'resource')}}
                            {{selectOptions @root.choiceModifierResourceTargets selected=m.target localize=true}}
                        {{/if}}                        
                        {{#if (eq m.subtype 'skill')}}
                            {{selectOptions @root.choiceModifierSkillTargets selected=m.target localize=true}}
                        {{/if}}
                        {{#if (eq m.subtype 'state')}}
                            {{selectOptions @root.choiceModifierStateTargets selected=m.target localize=true}}
                        {{/if}}
                        {{#if (eq m.subtype 'bonusDice')}}
                            {{selectOptions @root.choiceModifierBonusDiceTargets selected=m.target localize=true}}
                        {{/if}}
                        {{#if (eq m.subtype 'malusDice')}}
                            {{selectOptions @root.choiceModifierMalusDiceTargets selected=m.target localize=true}}
                        {{/if}} 
                    </select>
                    <input name="system.modifiers.{{id}}.value" type="text" value="{{m.value}}" data-dtype="String" />
                    <button data-action="deleteModifier"><i class="fas fa-trash"></i></button>
                </div>
            {{/each}}
            </div>
        {{else}}
            <div class="empty">
                {{localize "CO.notif.modifiers.empty"}}
            </div>
        {{/if}}
    </div>

    <!-- MARTIAL TRAININGS -->
    <h4 class="form-header">
        <a data-action="toggleSection">{{localize "CO.label.long.martialTrainings"}}</a>
    </h4>
    <div class="proficiencies-form foldable">
        {{#if unlocked}}        
            <div class="form-group">
                <label>{{localize "CO.ui.weapons"}}</label>
                <div class="grid grid-4col">
                    {{#each martialTrainingsWeaponsList as |training key|}}
                        <label><input type="checkbox" name="system.martialTrainingsWeapons.{{getKeyFromMartialTraining training}}" data-dtype="Boolean" {{checked (lookup ../system.martialTrainingsWeapons training.key)}} />{{getMartialTrainingLabel training}}</label>
                    {{/each}}
                </div>
            </div>
            <div class="form-group">
                <label>{{localize "CO.ui.armors"}}</label>
                <div class="grid grid-4col">
                    {{#each martialTrainingsArmorsList as |training key|}}
                        <label><input type="checkbox" name="system.martialTrainingsArmors.{{getKeyFromMartialTraining training}}" data-dtype="Boolean" {{checked (lookup ../system.martialTrainingsArmors training.key)}} />{{getMartialTrainingLabel training}}</label>
                    {{/each}}
                </div>
            </div>
            <div class="form-group">
                <label>{{localize "CO.ui.shields"}}</label>
                <div class="grid grid-4col">
                    {{#each martialTrainingsShieldsList as |training key|}}
                        <label><input type="checkbox" name="system.martialTrainingsShields.{{getKeyFromMartialTraining training}}" data-dtype="Boolean" {{checked (lookup ../system.martialTrainingsShields training.key)}} />{{getMartialTrainingLabel training}}</label>
                    {{/each}}
                </div>
            </div>
        {{else}}
            <div class="form-group">
                <label>{{localize "CO.ui.weapons"}}</label>
                <div class="grid grid-4col">
                    {{#each martialTrainingsWeapons as |training key|}}
                        <label><input type="checkbox" disabled {{checked (lookup ../system.martialTrainingsWeapons training.key)}} />{{getMartialTrainingLabel training}}</label>
                    {{/each}}
                </div>
            </div>
            <div class="form-group">
                <label>{{localize "CO.ui.armors"}}</label>
                <div class="grid grid-4col">
                    {{#each martialTrainingsArmors as |training key|}}
                        <label><input type="checkbox" disabled name="system.martialTrainingsArmors.{{getKeyFromMartialTraining training}}" data-dtype="Boolean" {{checked (lookup ../system.martialTrainingsArmors training.key)}} />{{getMartialTrainingLabel training}}</label>
                    {{/each}}
                </div>
            </div>
            <div class="form-group">
                <label>{{localize "CO.ui.shields"}}</label>
                <div class="grid grid-4col">
                    {{#each martialTrainingsShields as |training key|}}
                        <label><input type="checkbox" disabled name="system.martialTrainingsShields.{{getKeyFromMartialTraining training}}" data-dtype="Boolean" {{checked (lookup ../system.martialTrainingsShields training.key)}} />{{getMartialTrainingLabel training}}</label>
                    {{/each}}
                </div>
            </div>    
        {{/if}}
    </div>

</section>
