{{log "Chroniques Oubliées | character paths" this}}

{{#if (eq actor.type "character")}}
    {{formField systemFields.otherCapacitiesPointsSpent value=system.otherCapacitiesPointsSpent disabled=locked}}

    {{#if (lt xpLeft 0)}}
        <div class="notification error permanent">
            {{localize "CO.notif.TooMuchSpentXP" xpSpent=xpSpent xpMax=xpMax}}&nbsp;(<b>Total : </b>{{xpLeft}})
        </div>
    {{else}}
        {{#if (gt xpLeft 0)}}
            <div class="notification info permanent">
                {{localize "CO.notif.XPLeftToSpend" xpLeft=xpLeft}}
            </div>
        {{/if}}
    {{/if}}
{{/if}}

<!-- Capacités hors voies -->
{{> "systems/co/templates/actors/parts/actor-capacities.hbs"}}

{{#each pathGroups as |pg id|}}
    {{!log 'pathGroup' this}}
    {{#if (or @root.unlocked pg.path.system.displayPath)}}
        <ol class="paths items-container" data-tab="features">
            <li class="items-container-header flexrow">
                <h3 class="item-name flexrow">
                    <a class="section-toggle">{{pg.path.name}} ({{pg.path.system.rank}})</a>
                </h3>
                <div class="item-controls-3 item" data-item-uuid="{{pg.path.uuid}}" data-item-id="{{pg.path.id}}">
                    {{#if ../unlocked}}
                        <a class="item-edit edit" data-tooltip="{{localize 'CO.label.long.edit'}}"><i class="fas fa-fw fa-edit"></i></a>
                        <a class="item-control path-delete" data-tooltip={{localize "CO.ui.remove" }}><i class="fas fa-trash"></i></a>
                    {{/if}}
                </div>
            </li>
            <ol class="item-list foldable">
                {{#each pg.items as |capacity id|}}
                    {{!log 'capacity' this}}
                    {{#if capacity.system.learned}}
                        <li class="item flexrow" data-item-uuid="{{capacity.uuid}}" data-item-id="{{capacity._id}}" data-item-type="capacity" draggable="false">
                            <div class="item-detail">{{capacity.system.rank}}</div>
                            <div class="item-name flexrow">
                                <a class="item-image item-edit" style="background-image: url('{{capacity.img}}')"></a>
                                <h4>{{capacity.name}}{{#if capacity.system.isSpell}} * {{/if}}{{#if capacity.system.hasActionType}} ({{capacity.system.actionTypeShort}}){{/if}}</h4>
                            </div>
                            <div class="item-controls-3">
                                <a class="item-chat chat" data-tooltip="{{localize 'CO.label.long.sendToChat'}}" data-chat-type="item"><i class="fas fa-fw fa-comment-alt"></i></a>
                                {{#if @root.unlocked}}
                                    <a class="item-edit edit" data-tooltip="{{localize 'CO.label.long.edit'}}"><i class="fas fa-fw fa-edit"></i></a>
                                    <a class="item-control capacity-unlearn" data-tooltip="{{localize 'CO.ui.unbuy'}}"><i class="fa-solid green fa-check" style="font-size:16px"></i></a>
                                {{/if}}
                            </div>                            
                        </li>
                        {{#if capacity.system.allowLinkedCapacity}}
                            <div class="dropzone">
                                <ol class="item-list foldable" data-item-uuid="{{capacity.uuid}}" data-item-id="{{capacity.id}}" data-item-type="capacity" draggable="false">
                                    <li class="item flexrow" {{#if (isNotNull capacity.system.linkedCapacity)}} data-item-uuid="{{capacity.system.linkedCapacity}}" data-item-id="{{capacity.system.linkedCapacityItem.id}}" data-item-type="capacity" {{/if}}>
                                        <div class="item-detail"></div>
                                        <div class="item-detail"></div>
                                        {{#if (and (isNotNull capacity.system.linkedCapacity) (isNotNull capacity.system.linkedCapacityItem))}}
                                            <div class="item-name flexrow">                                            
                                                    <a class="item-image item-edit" style="background-image: url('{{capacity.system.linkedCapacityImg}}')"></a>
                                                    <h4>{{capacity.system.linkedCapacityName}}{{#if capacity.system.linkedCapacityItem.system.isSpell}} * {{/if}}{{#if capacity.system.linkedCapacityItem.system.hasActionType}} ({{capacity.system.linkedCapacityItem.system.actionTypeShort}}){{/if}}</h4>
                                            </div>
                                            <div class="item-controls-3">
                                                <a class="item-chat chat" data-tooltip="{{localize 'CO.label.long.sendToChat'}}" data-chat-type="item"><i class="fas fa-fw fa-comment-alt"></i></a>
                                                {{#if @root.unlocked}}
                                                    <a class="item-control item-delete" data-tooltip="{{localize 'CO.ui.remove'}}"><i class="fas fa-trash"></i></a>
                                                {{/if}}
                                            </div>
                                        {{else}}
                                            <div class="item-name flexrow">                                            
                                                    <a class="item-image item-edit" style="background-image: url('{{capacity.system.linkedCapacityImg}}')"></a>
                                                    <h4>{{localize 'CO.ui.addCapacityMsg'}}</h4>
                                            </div>
                                        {{/if}}
                                    </li>
                                </ol>
                            </div>
                        {{/if}}
                    {{else}}
                        {{#if @root.unlocked}}
                            <li class="item flexrow" data-item-uuid="{{capacity.uuid}}" data-item-id="{{capacity._id}}" data-item-type="capacity" draggable="false" style="opacity: 60%">
                                <div class="item-detail">{{capacity.system.rank}}</div>
                                <div class="item-name flexrow">
                                    <a class="item-image item-edit" style="background-image: url('{{capacity.img}}')"></a>
                                    <h4 data-tooltip="{{localize 'CO.notif.unknownCapacity'}}">{{capacity.name}}{{#if capacity.system.isSpell}} * {{/if}}{{#if capacity.system.hasActionType}} ({{capacity.system.actionTypeShort}}){{/if}}</h4>
                                </div>
                                <div class="item-controls-2">
                                    <a class="item-edit edit" data-tooltip="{{localize 'CO.label.long.edit'}}"><i class="fas fa-fw fa-edit"></i></a>
                                    <a class="item-control capacity-learn" data-tooltip="{{localize 'CO.ui.buy'}}"><i class="fa-solid gray fa-check" style="font-size:16px"></i></a>
                                </div>
                            </li>
                        {{/if}}
                    {{/if}}
                {{/each}}
            </ol>
        </ol>
    {{/if}}
{{/each}}