<div class="effects section-container">
  {{!log "Chroniques Oubliées | character-sheet - effects" this}}
  <div class="section-body-no-flex">
    <!-- ACTIONS -->
    <ol class="effects-container items-container">
      <li class="items-container-header flexrow">
        <h3 class="item-name flexrow">{{localize "CO.ui.enabledEffects"}}</h3>
      </li>
      <ol class="item-list">
        <!-- Actions Visibles Activables temporaires et Activées -->
        {{#each visibleActivableTemporaireActions as |action id|}}
          {{!log (concat "Chroniques Oubliées | effets - action " id) action}}
          {{#if action.properties.enabled}}
            <li class="item flexrow" data-item-uuid="{{action.source}}" data-item-indice="{{id}}" data-item-type="action" draggable="false">
              <div class="item-name flexrow">
                <a class="item-image item-edit" style="background-image: url('{{{actionImg}}}')"></a>
                <h4>{{action.itemName}}{{#if action.hasLabel}} - {{action.label}}{{/if}}&nbsp;{{{action.icon}}}</h4>
              </div>
              <div class="item-controls-2"></div>
            </li>
          {{/if}}
        {{/each}}
      </ol>
    </ol>
    <ol class="effects-container items-container">
      <li class="items-container-header flexrow">
        <h3 class="item-name flexrow">{{localize "CO.ui.disabledEffects"}}</h3>
      </li>
      <ol class="item-list">
        <!-- Actions Visibles Activables temporaires et Désactivées -->
        {{#each visibleActivableTemporaireActions as |action id|}}
          {{!log (concat "Chroniques Oubliées | action " id) action}}
          {{#unless action.properties.enabled}}
            <li class="item flexrow" data-item-uuid="{{action.source}}" data-item-indice="{{id}}" data-item-type="action" draggable="false">
              <div class="item-name flexrow">
                <a class="item-image item-edit" style="background-image: url('{{{actionImg}}}')"></a>
                <h4>{{action.itemName}}{{#if action.hasLabel}} - {{action.label}}{{/if}}&nbsp;{{{action.icon}}}</h4>
              </div>
              <div class="item-controls-2"></div>
            </li>
          {{/unless}}
        {{/each}}
      </ol>
    </ol>
    <ol class="effects-container items-container">
      <li class="items-container-header flexrow">
        <h3 class="item-name flexrow">{{localize "CO.ui.passiveEffects"}}</h3>
      </li>
      <ol class="item-list">
        <!-- Actions Visibles non Activables Non temporaires et activées -->
        {{#each visibleNonActivableNonTemporaireActions as |action id|}}
          {{!log (concat "Chroniques Oubliées | action " id) action}}
          {{#if action.properties.enabled}}
            <li class="item flexrow" data-item-uuid="{{action.source}}" data-item-indice="{{id}}" data-item-type="action" draggable="false">
              <div class="item-name flexrow">
                <a class="item-image item-edit" style="background-image: url('{{{actionImg}}}')"></a>
                <h4>{{action.itemName}}{{#if action.hasLabel}} - {{action.label}}{{/if}}&nbsp;{{{action.icon}}}</h4>
              </div>
              <div class="item-controls-2"></div>
            </li>
          {{/if}}
        {{/each}}
      </ol>
    </ol>
    <!-- CUSTOM EFFECTS -->
    <ol class="effects-container items-container">
      <li class="items-container-header flexrow">
        <h3 class="item-name flexrow">{{localize "CO.ui.customEffects"}}</h3>
      </li>
      <ol class="item-list">
        <!-- Liste des customEffects actuellement actifs -->
        {{#each currentEffects as |effect id|}}
          {{!log (concat "Chroniques Oubliées | customEffect " id) effect}}
          <li class="item flexrow" data-item-uuid="{{effect.source}}" data-item-indice="{{id}}" data-item-type="customEffectData" draggable="false">
            <div class="item-name flexrow">
              <a class="item-image item-edit" style="background-image: url('icons/svg/aura.svg')"></a>
              <h4 data-tooltip="{{effect.tooltip}}">{{effect.name}} : {{effect.duration}} {{effect.unit}}</h4>
              {{#if ../unlocked}}
                <a class="item-control customEffect-delete" data-tooltip={{localize "CO.ui.remove"}} data-ce-Name={{effect.slug}}><i class="fas fa-trash"></i></a>
              {{/if}}
            </div>
            <div class="item-controls-2"></div>
          </li>
        {{/each}}
      </ol>
    </ol>
  </div>
 
</div>