<nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{ localize "COF.tabs.description" }}</a>

    <a class="item" data-tab="stats">{{ localize "COF.tabs.stats" }}</a>
    <a class="item" data-tab="combat">{{ localize "COF.tabs.combat" }}</a>


    <a class="item cof-compendium-pack" data-pack="items" data-open="0" data-tab="inventory" title="{{ localize "
        COF.ui.openCompendium" }}"><i class="fas fa-atlas"></i>&nbsp;&nbsp;{{ localize "COF.tabs.inventory" }}</a>
    <a class="item cof-compendium-pack" data-pack="paths" data-open="0" data-tab="capacities"><i class="fas fa-atlas"></i>Voies et Capacités</a>
    <a class="item" data-tab="effects">{{ localize "COF.tabs.effects" }}</a>

</nav>

<section class="sheet-body">

    <div class="tab capacities" data-group="primary" data-tab="capacities">
        {{> "systems/co/templates/actors/parts/character-paths.hbs"}}
    </div>

</section>