<ol class="actions items-container foldable" data-tab="actions">
  <li class="items-container-header flexrow">
    <h3 class="item-name flexrow">{{localize "CO.ui.actions"}}</h3>
  </li>
  <ol class="item-list">
    {{#each visibleActions as |action id|}}
      {{log (concat "Chroniques Oubliées | action " id) action}}
      <li class="item flexrow" data-item-id="{{action._id}}" data-item-type="{{action.type}}" draggable="true"  {{#unless action.properties.enabled}}style="opacity: 60%"{{/unless}}>
        <div class="item-name flexrow">
          <div class="item-image" style="background-image: url('{{action.img}}')"></div>
          <h4><a class="item-control item-edit">{{action.label}}</a></h4>
        </div>
        <div class="item-controls-2">
          {{#if action.properties.activable}}
            <a class="item-control item-activate" title="Activer">
              {{#if action.properties.enabled}}
                <i class="fa-solid green fa-check toggle-action" style="font-size:16px" data-action="unactivate" data-source="{{action.source}}" data-indice="{{action.indice}}"></i>
              {{else}}
                <i class="fa-solid gray fa-check toggle-action" style="font-size:16px" data-action="activate" data-source="{{action.source}}" data-indice="{{action.indice}}"></i>
              {{/if}}
            </a>
          {{/if}}
        </div>
      </li>
    {{/each}}
  </ol>
</ol>