<div class="effects section-container">
    <div class="section-header">
        <h4>{{localize "CO.label.long.effects"}}</h4>
        <div class="actions-controls controls">
<!--            <a class="action-add item-create" title="Add Action" data-type="action" data-action-type="action"><i class="fas fa-plus"></i></a>-->
        </div>
    </div>
    <!-- ACTIONS -->
    <div class="section-body-no-flex">
        <ol class="effects-container items-container">
            <li class="items-container-header flexrow">
                <h3 class="item-name flexrow">{{localize "CO.ui.enabled"}}</h3>
            </li>
            <ol class="item-list">
                {{#each visibleActivableActions as |item id|}}                
                    {{!log (concat "Chroniques Oubliées | action " id) item}}
                    {{#if item.properties.enabled }}
                        <li class="item flexrow" data-item-id="{{item.source}}" data-item-indice="{{id}}" data-item-type="action" draggable="false">
                            <div class="item-name flexrow">
                                <div class="item-image" style="background-image: url('{{item.img}}')"></div>
                                <h4><a class="item-control item-edit" title="{{item.type}}">{{item.label}}</a>&nbsp;
                                    {{#if (eq item.type "melee")}}<i class="fas fa-fw fa-sword"></i>{{/if}}
                                    {{#if (eq item.type "ranged")}}<i class="fas fa-fw fa-bow-arrow"></i>{{/if}}
                                    {{#if (eq item.type "spell")}}<i class="fas fa-fw fa-hand-sparkles"></i>{{/if}}
                                    {{#if (eq item.type "protection")}}<i class="fa-regular fa-fw fa-shield"></i>{{/if}}
                                    {{#if (eq item.type "heal")}}<i class="fas fa-fw fa-hand-holding-medical"></i>{{/if}}
                                </h4>
                            </div>
                            <div class="item-controls-2">
                                <a class="item-chat chat" title="Send to chat"><i class="fas fa-fw fa-comment-alt"></i></a>
                            </div>
                        </li>
                    {{/if}}
                {{/each}}
            </ol>
        </ol>
        <ol class="effects-container items-container">
            <li class="items-container-header flexrow">
                <h3 class="item-name flexrow">{{localize "CO.ui.disabled"}}</h3>
            </li>
            <ol class="item-list">
                {{#each visibleActivableActions as |item id|}}
                    {{!log (concat "Chroniques Oubliées | action " id) item}}
                    {{#if (not item.properties.enabled) }}
                        <li class="item flexrow" data-item-id="{{item.source}}" data-item-indice="{{id}}" data-item-type="action" draggable="false">
                            <div class="item-name flexrow">
                                <div class="item-image" style="background-image: url('{{item.img}}')"></div>
                                <h4><a class="item-control item-edit" title="{{item.type}}">{{item.label}}</a>&nbsp;
                                    {{#if (eq item.type "melee")}}<i class="fas fa-fw fa-sword"></i>{{/if}}
                                    {{#if (eq item.type "ranged")}}<i class="fas fa-fw fa-bow-arrow"></i>{{/if}}
                                    {{#if (eq item.type "spell")}}<i class="fas fa-fw fa-hand-sparkles"></i>{{/if}}
                                    {{#if (eq item.type "protection")}}<i class="fa-regular fa-fw fa-shield"></i>{{/if}}
                                    {{#if (eq item.type "heal")}}<i class="fas fa-fw fa-hand-holding-medical"></i>{{/if}}
                                </h4>
                            </div>
                            <div class="item-controls-2">
                                <a class="item-chat chat" title="Send to chat"><i class="fas fa-fw fa-comment-alt"></i></a>
                            </div>
                        </li>
                    {{/if}}
                {{/each}}
            </ol>
        </ol>
        <ol class="effects-container items-container">
            <li class="items-container-header flexrow">
                <h3 class="item-name flexrow">{{localize "CO.ui.passive"}}</h3>
            </li>
            <ol class="item-list">
                {{#each visibleNonActivableActions as |item id|}}
                    {{!log (concat "Chroniques Oubliées | action " id) item}}
                    <li class="item flexrow" data-item-id="{{item.source}}" data-item-indice="{{id}}" data-item-type="action" draggable="false">
                        <div class="item-name flexrow">
                            <div class="item-image" style="background-image: url('{{item.img}}')"></div>
                            <h4><a class="item-control item-edit" title="{{item.type}}">{{item.label}}</a>&nbsp;
                                {{#if (eq item.type "melee")}}<i class="fas fa-fw fa-sword"></i>{{/if}}
                                {{#if (eq item.type "ranged")}}<i class="fas fa-fw fa-bow-arrow"></i>{{/if}}
                                {{#if (eq item.type "spell")}}<i class="fas fa-fw fa-hand-sparkles"></i>{{/if}}
                                {{#if (eq item.type "protection")}}<i class="fa-regular fa-fw fa-shield"></i>{{/if}}
                                {{#if (eq item.type "heal")}}<i class="fas fa-fw fa-hand-holding-medical"></i>{{/if}}
                            </h4>
                        </div>
                        <div class="item-controls-2">
                            <a class="item-chat chat" title="Send to chat"><i class="fas fa-fw fa-comment-alt"></i></a>
                        </div>
                    </li>
                {{/each}}
            </ol>
        </ol>
    </div>
</div>