<!--<div class="stats-layout flexrow">-->
    <div class="abilities-container">
        <div class="cell">
            <span class="field-label header">{{ localize "CO.label.short.superior" }}</span>
        </div>
        <div class="cell">
            <span class="field-label header">{{ localize "CO.label.short.stat" }}</span>
        </div>
        <div class="cell">
            <span class="field-label header">{{ localize "CO.label.short.base" }}</span>
        </div>
        <div class="cell">
            <span class="field-label header">{{ localize "CO.label.short.bonus" }}</span>
        </div>
        <div class="cell">
            <span class="field-label header">{{ localize "CO.label.short.value" }}</span>
        </div>
        <div class="cell">
            <span class="field-label header">{{ localize "CO.label.short.mod" }}</span>
        </div>
        <div class="cell"></div>
        {{#each abilities as |ability id|}}
            {{log (concat "Chroniques Oubliées | " id) ability}}
            <div class="cell" title="Supérieur (2d20)">
                <input type="checkbox" name="system.abilities.{{id}}.superior" {{checked ability.superior}} />
            </div>
            <div class="cell">
                <span class="field-label header" title="{{ localize (concat "CO.abilities.long." id) }}">{{ localize (concat "CO.abilities.short." id) }}</span>
            </div>
            <div class="cell">
                <input class="field-value" name="system.abilities.{{id}}.base" type="string" value="{{ability.base}}" data-dtype="Number"/>
            </div>
            <div class="cell">
                <input class="field-value" name="system.abilities.{{id}}.bonuses.sheet" type="string" value="{{numberFormat ability.bonuses.sheet decimals=0 sign=true}}" data-dtype="Number"/>
            </div>
            <div class="cell readonly">
                <input class="field-value" name="system.abilities.{{id}}.value" type="string" readonly="true" value="{{ability.value}}" data-dtype="Number" data-tooltip="{{ability.tooltip}}"/>
            </div>
            <div class="cell readonly">
                <input class="field-value" name="system.abilities.{{id}}.mod" readonly="true" type="string" value="{{numberFormat ability.mod decimals=0 sign=true}}" data-dtype="Number"/>
            </div>
            <div class="cell">
                <a class="field-label header rollable" data-rolling="@abilities.{{id}}" data-roll-type="skillcheck"><i class="fas fa-dice-d20"></i></a>
            </div>
        {{/each}}
    </div>
    <br/>
    <div class="combat-container">
        <div class="cell"></div>
        <div class="cell">
            <span class="field-label header">{{ localize "CO.label.short.base" }}</span>
        </div>
        <div class="cell">
            <span class="field-label header">{{ localize "CO.label.short.bonus" }}</span>
        </div>
        <div class="cell">
            <span class="field-label header">{{ localize "CO.label.short.value" }}</span>
        </div>
        <div class="cell">
            <span class="field-label header">{{ localize "CO.label.short.mod" }}</span>
        </div>
        <div class="cell"></div>
        {{#each combat as | field id|}}
            {{log (concat "Chroniques Oubliées | " id) field}}
            <div class="cell">
                <span class="field-label header" title="{{ localize (concat "CO.combat.long." id) }}">{{ localize (concat "CO.combat.short." id) }}</span>
            </div>
            <div class="cell">
                {{#if field.mod}}
                    <input class="field-value" name="system.combat.{{id}}.base" type="string" value="{{numberFormat field.base decimals=0 sign=true}}" data-dtype="Number"/>
                {{else}}
                    <input class="field-value" name="system.combat.{{id}}.base" type="string" value="{{field.base}}" data-dtype="Number"/>
                {{/if}}
            </div>
            <div class="cell">
                <input class="field-value" name="system.combat.{{id}}.bonuses.sheet" type="string" value="{{numberFormat field.bonuses.sheet decimals=0 sign=true}}" data-dtype="Number"/>
            </div>
            <div class="cell readonly">
                {{#if field.value}}
                    <input class="field-value" name="system.combat.{{id}}.value" readonly="true" type="string" value="{{field.value}}" data-dtype="Number" data-tooltip="{{field.tooltip}}"/>
                {{/if}}
            </div>
            <div class="cell readonly">
                {{#if field.mod}}
                    <input class="field-value" name="system.combat.{{id}}.mod" readonly="true" type="string" value="{{numberFormat field.mod decimals=0 sign=true}}" data-dtype="Number"/>
                {{/if}}
            </div>
            <div class="cell">
                {{#if field.mod}}
                    <a class="field-label header rollable" data-rolling="@combat.{{id}}" data-roll-type="combatcheck"><i class="fas fa-dice-d20"></i></a>
                {{/if}}
            </div>
        {{/each}}
    </div>
<!--</div>-->

<div class="resources-container">
    {{#each resources as | resource id|}}
        {{log (concat "Chroniques Oubliées | " id) resource}}
    {{/each}}
</div>

