<div class="abilities-scores section-container">
    <div class="section-header">
        <h4>{{localize "CO.label.long.abilities"}}</h4>
        <div class="attacks-controls controls">
        {{#if unlocked}}
        <a class="abilities-edit" title="Edit ability scores" data-action="edit-ability-scores"><i class="fas fa-fw fa-edit"></i>Edit</a>
        {{/if}}
        </div>
    </div>
    <!-- ABILITY MODIFIERS -->
    <div class="section-body">
        <ol class="ability-scores">
            {{#each abilities as |ability id|}}
            {{!log (concat "Chroniques Oubliées | " id) ability}}
                <li class="ability key" data-ability="str">
                    <label class="details-label ability-name">{{localize (concat 'CO.abilities.long.' id)}}</label>
                    <h2 class="ability-id" title="AbilityValue">
                        {{localize (concat "CO.abilities.short." id)}}
                        {{#if ability.superior}}<i class="fas fa-asterisk"></i>{{/if}}
                    </h2>
                    <h3 class="ability-mod" title="Modificateur">{{numberFormat ability.mod decimals=0 sign=true}}</h3>
                    <div class="ability-score" data-tooltip="{{ability.tooltipValue}}">
                        <div>{{ability.value}}</div>
                    </div>
                </li>
            {{/each}}
        </ol>
    </div>
</div>

<div class="features section-container">
    <div class="section-header">
        <h4>{{localize "CO.ui.features"}} & {{localize "CO.label.long.profile"}}</h4>
    </div>
    <!-- PROFILS & FEATURES-->
    <div class="section-body-no-flex">
        <ol class="features-container items-container">
            <ol class="item-list">
                {{#each profiles as |item id|}}
                    <li class="item flexrow" data-item-id="{{item._id}}" data-item-type="{{item.type}}" draggable="false">
                        <div class="item-name flexrow">
                            <div class="item-image" style="background-image: url('{{item.img}}')"></div>
                            <h4><a class="item-control item-edit">{{item.name}}</a></h4>
                        </div>
                        <div class="item-controls-2">
                        {{#if ../unlocked}}
                            <a class="item-control item-delete" title={{localize "CO.ui.remove"}}><i class="fas fa-trash"></i></a>
                        {{/if}}
                        </div>
                    </li>
                {{/each}}
                {{#each features as |item id|}}
                    <li class="item flexrow" data-item-id="{{item._id}}" data-item-type="{{item.type}}" draggable="false">
                        <div class="item-name flexrow">
                            <div class="item-image" style="background-image: url('{{item.img}}')"></div>
                            <h4><a class="item-control item-edit">{{item.name}}</a></h4>
                        </div>
                        <div class="item-controls-2">
                        {{#if ../unlocked}}
                            <a class="item-control item-delete" title={{localize "CO.ui.remove"}}><i class="fas fa-trash"></i></a>
                        {{/if}}
                        </div>
                    </li>
                {{/each}}
            </ol>
        </ol>
    </div>
</div>
<div class="actions section-container">
    <div class="section-header">
        <h4>{{localize "CO.ui.actions"}}</h4>
        <div class="actions-controls controls">
<!--            <a class="action-add item-create" title="Add Action" data-type="action" data-action-type="action"><i class="fas fa-plus"></i></a>-->
        </div>
    </div>
    <!-- ACTIONS -->
    <div class="section-body-no-flex">
        <ol class="actions-container items-container">
            <ol class="item-list">
                {{#each visibleActions as |item id|}}
                {{!log (concat "Chroniques Oubliées | action " id) item}}
                    {{#if item.properties.visible}}
                        <li class="item flexrow"
                            data-item-id="{{item._id}}"
                            data-type="{{item.type}}"
                            data-source="{{item.source}}"
                            data-action="activate"
                            data-indice="{{id}}"
                            draggable="false">
                            <div class="item-name flexrow" title="{{item.type}}">
                                <div class="item-image" style="background-image: url('{{item.img}}')"></div>
                                <h4><a class="item-control item-edit">{{item.label}}</a>&nbsp;
                                {{#if (eq item.type "melee")}}<i class="fas fa-fw fa-sword"></i>{{/if}}
                                {{#if (eq item.type "ranged")}}<i class="fas fa-fw fa-bow-arrow"></i>{{/if}}
                                {{#if (eq item.type "spell")}}<i class="fas fa-fw fa-hand-sparkles"></i>{{/if}}
                                {{#if (eq item.type "protection")}}<i class="fa-regular fa-fw fa-shield"></i>{{/if}}
                                {{#if (eq item.type "heal")}}<i class="fas fa-fw fa-hand-holding-medical"></i>{{/if}}
                                </h4>
                            </div>
                            <div class="item-controls-2">
                                {{#if item.properties.activable}}
                                    <a class="item-roll rollable toggle-action"><i class="fas fa-dice-d20"></i></a>
                                {{/if}}
                                <a class="item-chat chat" title="Send to chat"><i class="fas fa-fw fa-comment-alt"></i></a>
                            </div>
                        </li>
                    {{/if}}
                {{/each}}
            </ol>
        </ol>
    </div>
</div>