<div class="flexrow table-header color-default no-wrap">
  <div class="flex1 center color-default">
    <div class="field-label">{{localize "CO.label.superior"}}</div>
  </div>
  <div class="flex1 center color-default">
    <div class="field-label">{{localize "CO.label.base"}}</div>
  </div>
  <div class="flex1 center color-default">
    <div class="field-label">{{localize "CO.label.specie"}}</div>
  </div>
  <div class="flex1 center color-default">
    <div class="field-label">{{localize "CO.label.bonus"}}</div>
  </div>
  <div class="flex1 center color-default">
    <div class="field-label">{{localize "CO.label.value"}}</div>
  </div>
  <div class="flex1 center color-default">
    <div class="field-label">{{localize "CO.label.mod"}}</div>
  </div>
</div>

{{#each characteristics as |characteristic id|}}
  <div class="flexrow no-wrap">
    <div class="flex2 bg-default">
      <div class="flexrow no-wrap">
        <div class="flex1 center no-wrap" title="Supérieur (2d20)">
          <input type="checkbox" name="system.characteristics.{{id}}.superior" {{checked characteristic.superior}} />
        </div>
      </div>
    </div>
    <div class="flex1 center cell">
      <input class="field-value" name="system.characteristics.{{id}}.base" type="string" value="{{characteristic.base}}" data-dtype="Number" />
    </div>
    <div class="flex1 center cell readonly">
      <input class="field-value" name="system.characteristics.{{id}}.specie" type="string" readonly="true" value="{{characteristic.specie}}" data-dtype="Number" />
    </div>
    <div class="flex1 center cell">
      <input class="field-value" name="system.characteristics.{{id}}.bonus" type="string" value="{{numberFormat characteristic.bonus decimals=0 sign=true}}" data-dtype="Number" />
    </div>
    <div class="flex1 center cell readonly">
      <input class="field-value" name="system.characteristics.{{id}}.value" type="string" readonly="true" value="{{characteristic.value}}" data-dtype="Number" />
    </div>
    <div class="flex1 center cell readonly">
      <input
        class="field-value"
        name="system.characteristics.{{id}}.mod"
        readonly="true"
        type="string"
        value="{{numberFormat characteristic.mod decimals=0 sign=true}}"
        data-dtype="Number"
      />
    </div>
  </div>
{{/each}}