<div class="abilities-scores section-container">
    <div class="section-header">
        <h4>{{localize "CO.label.long.abilities"}}</h4>
        <div class="attacks-controls controls">
        {{#if unlocked}}
        <a class="abilities-edit" data-tooltip="{{localize 'CO.ui.editStats'}}" data-action="edit-ability-scores"><i class="fas fa-fw fa-edit"></i></a>
        {{/if}}
        </div>
    </div>
    <!-- ABILITIES -->
    <div class="section-body">
        <ol class="ability-scores">
            {{#each abilities as |ability id|}}
            {{!log (concat "Chroniques Oubliées | " id) ability}}
                <li class="ability key" data-ability="{{id}}">
                    <label class="details-label ability-name">{{localize (concat 'CO.abilities.long.' id)}}</label>
                    <h2 class="ability-id">
                        {{localize (concat "CO.abilities.short." id)}}
                        {{#if ability.superior}}<i class="fas fa-asterisk"></i>{{/if}}
                    </h2>
                    <h3 class="ability-mod rollable" data-tooltip="{{ability.tooltipValue}}" data-roll-type="skillcheck" data-roll-target="{{id}}">{{numberFormat ability.value decimals=0 sign=true}}</h3>
                </li>
            {{/each}}
        </ol>
    </div>
</div>

<div class="features section-container">
    <div class="section-header">
        <h4>{{localize "CO.label.long.profile"}} & {{localize "CO.ui.features"}}</h4>
    </div>
    <!-- PROFILS & FEATURES-->
    <div class="section-body-no-flex">
        <ol class="features-container items-container">
            <ol class="item-list">
                {{#each profiles as |item id|}}
                    <li class="item flexrow" data-item-uuid="{{item.uuid}}" data-item-id="{{item._id}}" data-item-type="{{item.type}}" draggable="false">
                        <div class="item-name flexrow">
                            <a class="item-image item-edit" style="background-image: url('{{item.img}}')"></a>
                            <h4>{{item.name}}</h4>
                        </div>
                        <div class="item-controls-2">
                        {{#if ../unlocked}}
                            <a class="item-control item-delete" data-tooltip={{localize "CO.ui.remove"}}><i class="fas fa-trash"></i></a>
                        {{/if}}
                        </div>
                    </li>
                {{/each}}
                {{#each features as |item id|}}
                    <li class="item flexrow" data-item-uuid="{{item.uuid}}" data-item-id="{{item._id}}" data-item-type="{{item.type}}" draggable="false">
                        <div class="item-name flexrow">
                            <a class="item-image item-edit" style="background-image: url('{{item.img}}')"></a>
                            <h4>{{item.name}}</h4>
                        </div>
                        <div class="item-controls-2">
                        {{#if ../unlocked}}
                            <a class="item-control item-delete" data-tooltip={{localize "CO.ui.remove"}}><i class="fas fa-trash"></i></a>
                        {{/if}}
                        </div>
                    </li>
                {{/each}}
            </ol>
        </ol>
    </div>
</div>

<div class="actions section-container">
    <div class="section-header">
        <h4>{{localize "CO.ui.actions"}}</h4>
        <div class="actions-controls controls"></div>
    </div>
    <!-- ACTIONS -->
    <div class="section-body-no-flex">
        <ol class="actions-container items-container">
            <ol class="item-list">
                {{#each visibleActivableActions as |action id|}}
                    {{log (concat "Chroniques Oubliées | action " id) action}}
                        <li class="item flexrow action {{#if action.properties.temporary}}{{#unless action.properties.enabled}}deactivated{{/unless}}{{/if}}" draggable="true" data-item-uuid="{{action.source}}" data-indice="{{action.indice}}">
                            <div class="item-name flexrow">
                                <a class="item-image item-edit" style="background-image: url('{{{actionImg}}}')"></a>
                                <h4>{{action.itemName}}{{#if action.hasLabel}} - {{action.label}}{{/if}}&nbsp;{{{action.icon}}} {{#if action.hasQuantity}}<span data-tooltip="Quantité restante">({{action.quantity}})</span>{{/if}} {{#if action.parent.isSpell}} * {{/if}}{{#if action.parent.hasActionType}} ({{action.parent.actionTypeShort}}){{/if}}</h4>
                            </div>
                            <div class="item-controls-3">
                                {{#if action.properties.activable}}
                                    {{#if action.properties.temporary}}
                                        <a class="item-control" >
                                            {{#if action.properties.enabled}}
                                                <i class="{{action.iconFA}} green toggle-action" data-tooltip="{{localize 'CO.ui.deactivate'}}" data-action="unactivate" data-source="{{action.source}}" data-indice="{{action.indice}}"></i>
                                            {{else}}
                                                <i class="{{action.iconFA}} gray toggle-action" data-tooltip="{{localize 'CO.ui.activate'}}" data-action="activate" data-source="{{action.source}}" data-indice="{{action.indice}}"></i>
                                            {{/if}}
                                        </a>
                                    {{else}}
                                        {{#if (or (eq action.type 'melee') (eq action.type 'ranged') (eq action.type 'magical'))}}
                                            <a class="item-control">
                                                <i class="{{action.iconFA}} green toggle-action" data-tooltip="{{localize 'CO.label.long.attack'}}" data-action="activate" data-type="attack" data-source="{{action.source}}" data-indice="{{action.indice}}"></i>
                                            </a> 
                                            <a class="item-control">
                                                <i class="fa-regular fa-hand-back-fist green toggle-action" data-tooltip="{{localize 'CO.label.long.damage'}}" data-action="activate" data-type="damage" data-source="{{action.source}}" data-indice="{{action.indice}}"></i>
                                            </a> 
                                        {{else}}
                                            {{#if (eq action.type 'heal') }}
                                            <a class="item-control">
                                                <i class="fa-solid green fa-flask-round-potion toggle-action" data-tooltip="{{localize 'CO.ui.use'}}" data-action="activate" data-source="{{action.source}}" data-indice="{{action.indice}}"></i>
                                            </a>  
                                            {{else}}
                                            <a class="item-control">
                                                <i class="{{action.iconFA}} green toggle-action" data-tooltip="{{localize 'CO.ui.use'}}" data-action="activate" data-source="{{action.source}}" data-indice="{{action.indice}}"></i>
                                            </a>  
                                            {{/if}}                                            
                                        {{/if}}             
                                    {{/if}}
                                {{/if}}
                                <a class="item-chat chat" data-tooltip="{{localize 'CO.label.long.sendToChat'}}"  data-chat-type="action" data-indice="{{action.indice}}" data-source="{{action.source}}"><i class="fas fa-fw fa-comment-alt"></i></a>
                            </div>
                        </li>
                {{/each}}
            </ol>
        </ol>
    </div>
</div>