<div class="sidebar">
    <div class="portrait">
        <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
    </div>
    <ul class="features">
        {{#each features as |feature id|}}
            <li class="featured-item" data-item-id="{{feature._id}}">{{feature.name}}</li>
        {{/each}}
    </ul>
    <br/>
    <div class="monitor">
        <div class="hp">
            <div class="cell icon-big" style="grid-column:1; grid-row:1/ span 2; justify-self: start; align-self: center"><span class="field-label darkslate" title="{{localize "CO.label.long.hp" }}" style="font-size: 60px"><i class="fa-solid fa-heart-pulse"></i></span></div>
            <div class="cell darkslate" style="grid-column:2; grid-row:1; justify-self: start; align-self: center">{{localize "CO.label.short.hp"}}</div>
            <div class="cell" style="grid-column:3; grid-row:1; justify-self: center; align-self: center">
                <input class="field-value" name="system.attributes.hp.base" type="text" value="{{attributes.hp.base}}" data-dtype="Number" data-tooltip="PV Max Base"/>
                <input class="field-value sans" name="system.attributes.hp.max" readonly type="text" value="{{attributes.hp.max}}" data-dtype="Number" data-tooltip="PV Max"/>
            </div>
            <div class="cell darkslate" style="grid-column:2; grid-row:2; justify-self: start; align-self: center">{{localize "CO.label.short.current"}}</div>
            <div class="cell" style="grid-column:3; grid-row:2; justify-self: center; align-self: center">
                <input class="field-value sans" name="system.attributes.hp.value" type="text" value="{{attributes.hp.value}}" data-dtype="Number"/>
            </div>
        </div>
        <br/>
        <div class="def">
            <div class="cell icon-big" style="grid-column:1; grid-row:1/ span 2; justify-self: start; align-self: center"><span class="field-label darkslate" title="{{localize "CO.label.long.hp" }}" style="font-size: 60px"><i class="fa-solid fa-shield-halved"></i></span></div>
            <div class="cell darkslate" style="grid-column:2; grid-row:1; justify-self: start; align-self: center">{{localize "CO.label.short.def"}}</div>
            <div class="cell" style="grid-column:3; grid-row:1; justify-self: center; align-self: center">
                <input class="field-value sans" name="system.combat.def.value" type="text" value="{{combat.def.value}}" data-dtype="Number"/>
            </div>
        </div>
        <br/>
        <div class="init">
            <div class="cell icon-big" style="grid-column:1; grid-row:1/ span 2; justify-self: start; align-self: center"><span class="field-label darkslate" title="{{localize "CO.label.long.hp" }}" style="font-size: 60px"><i class="fa-solid fa-person-running-fast"></i></span></div>
            <div class="cell darkslate" style="grid-column:2; grid-row:1; justify-self: start; align-self: center">{{localize "CO.label.short.init"}}</div>
            <div class="cell" style="grid-column:3; grid-row:1; justify-self: center; align-self: center">
                <input class="field-value sans" name="system.combat.init.value" type="text" value="{{combat.init.value}}" data-dtype="Number"/>
            </div>
            <div class="cell darkslate" style="grid-column:2; grid-row:2; justify-self: start; align-self: center">{{localize "CO.label.long.bonus"}}</div>
            <div class="cell" style="grid-column:3; grid-row:2; justify-self: center; align-self: center">
                <input class="field-value sans" name="system.combat.init.bonus" type="text" value="{{combat.init.bonus}}" data-dtype="Number"/>
            </div>
        </div>
    </div>
</div>
