<div class="stats-layout">
    <div class="stats-layout-top flexrow">
        <div class="stats-layout-topleft flex1">
            <div class="abilities-container-4cols">
                <div class="cell">
                    <span class="field-label header">{{localize "CO.label.short.superior"}}</span>
                </div>
                <div class="cell">
                    <span class="field-label header">{{localize "CO.label.short.stat"}}</span>
                </div>
                <div class="cell">
                    <span class="field-label header">{{localize "CO.label.short.mod"}}</span>
                </div>
                <div class="cell"></div>
                {{#each abilities as |ability id|}}
                    {{!log (concat "Chroniques Oubliées | " id) ability}}
                    <div class="cell" title="Supérieur (2d20)">
                        <input type="checkbox" name="system.abilities.{{id}}.superior" {{checked ability.superior}} />
                    </div>
                    <div class="cell">
                        <span class="field-label header" title="{{localize (concat 'CO.abilities.long.' id)}}">{{localize (concat "CO.abilities.short." id)}}</span>
                    </div>
                    <div class="cell">
                        <input class="field-value" name="system.abilities.{{id}}.mod" type="string" value="{{numberFormat ability.mod decimals=0 sign=true}}" data-dtype="Number" />
                    </div>
                    <div class="cell">
                        <a class="field-label header rollable" data-rolling="@abilities.{{id}}" data-roll-type="skillcheck"><i class="fas fa-dice-d20"></i></a>
                    </div>
                {{/each}}
            </div>
        </div>
        <div class="stats-layout-topright flex1">
        </div>
    </div>
</div>

